[2016-03-16 05:46] ababaian opened #1 "Steering Committee Photos"
Please upload a photo of yourself for your icon (at least 1000x1000) and write down how you want your affiliation written.

see: [~/website/steeringCommittee_photos/readme](https://github.com/hackseq/October_2016/blob/master/website/steeringCommittee_photos/README.md)

- [x] Artem Babaian. Webmaster
- [x] Britt Drogemoller. Team Leaders liason
- [x] Bruno Grande. Logistics
- [x] Shaun Jackman. Com

[2016-03-16 15:47] ttimbers opened #2 "Link to twitter account broken on website"
@ababaian when I tried clicking on the twitter handle link on the website I got "Sorry, that page doesn't exist". On the website the twitter handle says "@hackseq" but the link is https://twitter.com/hack_seq, so I think its looking for an account called "@hack_seq" which doesn't exist.

[2016-03-16 16:37] ababaian commented on #2
fixd

[2016-03-16 16:37] #2 closed

[2016-03-16 22:48] sjackman opened #3 "Web site fixes"
Hi, Artem. I few minor web site fixes for you. Thanks for the excellent work on the web site!

http://www.hackseq.com/
`The requested social account cannot be found.`

http://www.hackseq.com/apply
`(May 14,15th)` should be `Oct 15-17`

http://www.hackseq.com/contact
`@hack_seq` should be `@hackseq`

[2016-03-16 22:53] ababaian commented on #3
Fixed date and twitter account. Note sure what you mean with

[2016-03-16 23:29] adrisua opened #4 "Website offline for now?"
@ababaian you have been done an amazing job!
Could we take the website offline for now? We could start adding partners and add more information.

[2016-03-17 00:06] ababaian commented on #4
Website is now reduced to cover splash art.

What would you like added before the website is 'online'?

[2016-03-17 00:51] adrisua commented on #4
Thanks! I added some comments to the October_2016/website/todo file.
Let me know what you think.

[2016-03-17 05:07] ababaian commented on #4
I've implemented most of the changes and brought sections back online as I've reformatted them.

For now I have a site-wide password that's needed to see the site. It's 'fruitfly'

Take a look and let me know what you think of the things that are online

[2016-03-17 07:04] adrisua commented on #4
Should we replace the word ‘genomics’ with ‘omics’? – to include proteomics, metabolomics, etc.
Could we re-arrange the home page?
Something like:

"CATALYZING BIO+INFORMATICS
We want to mix a diverse set of scientists for three days to catalyze open & innovative solutions to today's biggest 'omics' problems"

Followed by:

"PARTICIPATE
A hackathon is a great place to meet like-minded individuals,

[2016-03-17 16:19] ababaian commented on #4
Reorganized website. Front page substantially simplified (as it should be).

| genomics
now: *omics
another option: [*]omics

|...also for the diagram
moved to Participate page where there's a brief explanation of team organization and re-coloured to fit more closely with the website theme.
Do you not like the style of the diagram? What do you have in mind?

| Front page FAQ
Having both 'What is a

[2016-03-17 17:09] ababaian opened #5 "hackseq Logo for github"
@ttimbers It's a low priority but could you please set the hackseq logo on github to [hackseq logo square](https://github.com/hackseq/October_2016/blob/master/website/hackseq_logo/hackseq_logo_sq.png)

[2016-03-17 21:03] ttimbers commented on #5
@ababaian this is now done :)

[2016-03-17 21:03] #5 closed

[2016-03-18 04:38] adrisua commented on #4
Thanks @ababaian
Diagram looks great!
I got feedback from people, which is always good:
- Rotate the phylogenetic tree so the cluster in purple fits inside the frame.
- Bring the name hackseq down and make it bigger – genomics hackathon could we underneath.
- Error message ‘The requested social account cannot be found’ is still there (CATALYZING BIO+INFORMATICS section)
- Remove section ‘Format’.

[2016-03-18 18:05] ababaian commented on #4
@adrisua  great suggestions
| - Rotate the phylogenetic tree so the cluster in purple fits inside the frame.
Fixed
| -  Bring the name hackseq down and make it bigger – genomics hackathon could we underneath.
Looks good
| -  Error message ‘The requested social account cannot be found’ is still there (CATALYZING BIO+INFORMATICS section)
I can't reproduce this. Can you share a screen shot so I can t

[2016-03-18 21:59] adrisua commented on #4
awesome @ababaian thanks so much!
Let's take it back online :)
Here is the screenshot
[Doc14.docx](https://github.com/hackseq/October_2016/files/180444/Doc14.docx)
Yes, the 'child care' section will be in the application form but I wanted to have it there so people know we are thinking about it. Also, I would like to have a sense of people needs - maybe this will help to collect information for no

[2016-03-18 22:41] ababaian commented on #4
@hackseq/steering_committee Website is online. I'll use the ~/website/todo for any stuff anyone would like added. If it's urgent make an issue and I'll get on it.

[2016-03-18 22:41] #4 closed

[2016-03-18 22:41] #3 closed

[2016-03-18 22:57] sjackman commented on #3
The text `The requested social account cannot be found.` used to appear on http://www.hackseq.com/, but is gone now. So it's fixed! Thanks, Artem.

[2016-03-19 19:26] adrisua opened #6 "AWS cloud credits"
@sjackman I started the application for the [AWS cloud credits](https://aws.amazon.com/research-credits/)
The deadline is **June 30**, by then we might have a better idea of what we need.
Here are 3 key things we need to apply (Would you mind helping with this section? We can chat more about it during our meeting in May and I will send you a friendly reminder in mid-April. If you are too busy we c

[2016-03-19 19:30] adrisua opened #7 "Fundraising will be done through SCWIST"
@hackseq/steering_committee
Since time is limiting and registering a non-profit society requires a fairly amount of work, we will be receiving the funds through SCWIST. They will assist us with bookkeeping (but won’t be able to provide tax receipts because funds are for a specific cause).
@ttimbers Would you mind sending a reminder to everyone about the meeting the week before? I started an agenda

[2016-03-19 19:43] adrisua opened #8 "email tracking"
@GalenWright Would you like to be in charge of the hackseq gmail account?

1. Keep track of upcoming emails
2. Answer or direct emails to the corresponding person
3. track google forms, etc.
It would be fantastic if you could help us with that :)
If yes, we need to let everyone know.
Thanks!

[2016-03-19 19:58] adrisua commented on #1
@hackseq/steering_committee
Let's include our roles:

Artem Babaian. Webmaster
Britt Drogemoller. Team Leaders liason
Bruno Grande. Logistics
Shaun Jackman. Computing/Team Forming
Amy Lee. Public relations/Communications
Santina Lin. Participants liason
Catrina Loucks. Team Leaders liason
Adriana Suarez-Gonzalez. President/Founder
Tiffany Timbers. Public relations/Secretary
Galen Wright. Public re

[2016-03-19 20:44] ababaian commented on #1
@hackseq/steering_committee
I'm just thinking out loud and feel free to disagree. If we want to be a organization that promotes collaboration and not personal ownership of science then we should consider how the running of the organization can reflect that. Can everyone be viewed as equal 'co-founders' from the beginning.

That being said I think it's important to have a some oversight/leadership,

[2016-03-19 22:06] ttimbers opened #9 "Remove sign me up link from website until we have the forms?"
Should we remove the sign me up link from the website until we have the forms? It takes you to some buttons (team leaders, collaborate, etc), but they don't go anywhere. Thoughts?

[2016-03-19 22:06] ttimbers opened #10 "Remove sign me up link from website until we have the forms?"
Should we remove the sign me up link from the website until we have the forms? It takes you to some buttons (team leaders, collaborate, etc), but they don't go anywhere. Thoughts?

[2016-03-19 22:07] #10 closed

[2016-03-19 22:09] ababaian commented on #9
There's a "Apply for Hackseq" button at the bottom of the page which leads to the [application](http://www.hackseq.com/apply) page. On that page there is an email sign-up for Team Leaders / Collaborators. This lets people put their email down and we can email them when the respective applications go online.

[2016-03-19 22:12] ttimbers commented on #9
Ok, there just didn't do anything when I clicked on them.
On Mar 19, 2016 4:09 PM, "Artem Babaian" notifications@github.com wrote:

[2016-03-19 22:16] ababaian commented on #9
Hrmmmm. It _should_ be working, the links point in the right place and it works here. Is anyone else having problems? @ttimbers which browser are you using? I'm testing everything in Firefox/Chromium

Front Page: "Sign me up" under Participate --> www.hackseq.com/participate

Participate Page: "Apply for hackseq" at the bottom --> www.hackseq.com/apply

[2016-03-19 23:17] adrisua commented on #1
Thank you for sharing your thoughts @ababaian
Just to give everyone some context.
The 3-day Genomics Hackathon in Vancouver was born in fall 2015 as part of my work as Director of events at SCWIST. The main driver was to create a space for both women and men, where they could collaborate to create new tools for omics analysis. In October 2015, I submitted a proposal to Genome BC. In November 2015,

[2016-03-19 23:25] adrisua opened #11 "Roles - tentative meeting (if people want to discuss further)"
@hackseq/steering_committee
Monday, March 21st, 5:30 pm
Skype: adrizua

[2016-03-19 23:43] ababaian commented on #1
@adrisua I didn't mean to minimize your contributions, my question was more "What's the objective?" and how can organizational structure reflect that.

It largely seems like it's my misconception, is the focus on a single hackathon in October, annual hackathons, or more? Are we trying to start a community for biohackers to collaborate in Vancouver or internationally? I think having a well defined

[2016-03-20 00:28] adrisua opened #12 "Sponsorship tiers"
@ababaian Thanks for uploading our sponsors and partners! We are having 4 Sponsorship tiers:
MegaBase ($6000), KiloBase ($4000), BasePair ($2000), Nucleotide (<$2000), which will be reflected in the size of the logos. I will save each logo using the first letter of the corresponding tier so you can organize them.
Most logos have a white background and although some organizations are picky about th

[2016-03-20 19:15] adrisua opened #13 "future of hackseq - May meeting"
@ttimbers @minisciencegirl Since we will be discussing the possibilities to create a new group (or association/co-op...) during our next meeting, I think it is important to invite Will and others from VanBUG. Are there other groups we should include in the conversation? @ababaian

[2016-03-20 20:29] adrisua commented on #6
@sjackman I got in touch with Gaurab Basu from AWS in Seatle and he is willing to answer questions we might have about the application. Just let me know.

[2016-03-20 20:31] minisciencegirl commented on #13
I am a bit confused about this discussion of creating a new group or association/ co-op for hackseq and potential benefits for doing so. Is this related to discussions that happened in #1 and #11? If so, could we please keep threads on the same topic in the same issue for tracking purposes? If not, is it possible to get a bit more background for this discussion? Thanks.

[2016-03-20 21:26] GalenWright commented on #8
Hey @adrisua, sorry for only replying now - we were away in Whistler for the weekend. Good idea, I'm happy to take on that role

[2016-03-20 22:02] ababaian commented on #12
I can do this as long as we get good quality png/jpeg or better yet .ai/.svg files from the sponsors.

[2016-03-20 22:08] #8 closed

[2016-03-20 22:10] adrisua commented on #13
Is this related to discussions that happened in #1 and #11?
- Yes

Could we please keep threads on the same topic..?
- OK

[2016-03-20 23:57] sjackman commented on #1
We're all founding members, since this is the first HackSeq, but the role of founding director/president falls to Adriana and Tiffany.

[2016-03-20 23:58] sjackman commented on #11
I prefer GitHub issues and in-person meetings myself over Skype. I'm happy with my role!

[2016-03-21 00:07] sjackman commented on #7
Works for me. Is any further discussion needed, and can this issue be closed?

[2016-03-21 00:16] #7 closed

[2016-03-21 00:18] sjackman commented on #6
See https://aws.amazon.com/ec2/pricing/

My upper bound estimate for the weekend is $7000 USD. It's likely much less than that.
That estimate is based on one 64 GB machine per person \* 100 people \* 72 hours. One 64 GB machine is 96 cents per hour.

$0.958 \* 100 \* 72 = 6897.60

In the project proposal we should ask the team leaders whether they need any HPC at all. If they do, ask for a rough e

[2016-03-21 00:19] sjackman commented on #6
Data storage costs will be minimal for a few days. I'll have to look into whether data transfer costs are a consideration. If anyone is planning on transferring multiple large sequencing datasets, it may be a consideration.

[2016-03-21 00:55] sjackman commented on #6
I'm thinking that it makes more sense that each team would share one machine (or possibly more) of sufficient size to suit that project's purposes, rather than one machine per participant. Let's ask the team leaders the following questions:
- Will your analysis use any AWS Public Data Sets?
- What is the size of your data in GB?
- How many of the following AWS EC2 machines does your project requir

[2016-03-21 00:58] sjackman commented on #6
The application looks pretty straight forward.
https://aws.amazon.com/research-credits/
1. Brief description of problem to be solved.
   Describe the HackSeq workshop in general terms. Include a one-sentence summary of each project.
2. Proposed AWS solution (including specific AWS tools, timeline, key milestones).
   AWS EC2, EBS and S3. Oct 15–17.
3. Plan for sharing outcomes (tools, data, and/or

[2016-03-21 01:02] sjackman commented on #6
1. Brief description of problem to be solved.

Describe the HackSeq workshop in general terms. Include a one-sentence summary of each project.

2. Proposed AWS solution (including specific AWS tools, timeline, key milestones).

AWS EC2 and S3. Oct 15–17.

3. Plan for sharing outcomes (tools, data, and/or resources) created during project.

We should require that each project post a summary of thei

[2016-03-21 01:24] sjackman commented on #6
Estimating 20 teams and one m4.4xlarge machine with 64 GB of RAM and 500 GB of storage per team, and some wild, hopefully on the high side, guesses about data transfer requirements, the cost estimate is $3576.93 USD. Here's the AWS cost calculator:
http://calculator.s3.amazonaws.com/index.html#r=PDX&s=EC2&key=calc-7C5A8FDE-8340-4C8E-B8F1-66D57C4B00BB

[2016-03-21 01:36] sjackman commented on #6
I'm going to estimate that the size of the data transferred in (which is free) is going to be the same size as the data transferred out (which costs money).

[2016-03-21 13:46] DCGenomics commented on #6
We have run several of these things through AWS, and cost for 5 teams has
run ~~$1500 for a three day event.

I can put you and Adriana in touch with some folks I know at Amazon and/or
other cloud providers at some point.

Cheers!
Ben

[2016-03-21 16:23] ttimbers commented on #1
I suggest all of us are members of the Steering committee/Development team/whatever we want to call it. I also do not think that we need "titles". At the last meeting, the jobs were divided up so that we would would be able to get some work done, essentially so we could divide and conquer all necessary tasks. I think for making decisions, we are all equals and we can simply vote on anything that's

[2016-03-21 16:25] ttimbers commented on #13
Closing this issue, please see [#1](https://github.com/hackseq/October_2016/issues/1) for continued discussions in this area.

[2016-03-21 16:25] #13 closed

[2016-03-21 16:25] ttimbers commented on #11
Closing this issue, please see [#1](https://github.com/hackseq/October_2016/issues/1) for continued discussions in this area.

[2016-03-21 16:26] #11 closed

[2016-03-21 16:29] ttimbers commented on #9
This issue is that I really thought the squares (that say team leader, collaborators) on http://www.hackseq.com/participate was what I was supposed to click on, because I see that before the "APPLY FOR HACKSEQ" button. Maybe it might help to make the squares go to the same link as the "APPLY FOR HACKSEQ" button does, or move the "APPLY FOR HACKSEQ" button up before the squares.

[2016-03-21 16:33] ttimbers commented on #1
Re: all we have discussed in these threads about titles/philosophy/founder, there is now an agenda started [here](https://github.com/hackseq/October_2016/blob/master/meeting_notes/Agenda_May.md).  I will now close this issue and if you want to discuss any of these things at the next meeting (or anything else!), please add them to the agenda. cc @ababaian @adrisua @sjackman @minisciencegirl

[2016-03-21 17:36] minisciencegirl commented on #1
Thank you @ttimbers. I concur with your thoughts on job description and the hackseq organization.

[2016-03-21 18:46] sjackman commented on #1
Well put, Tiffany. I agree.

[2016-03-21 18:52] sjackman commented on #6
That's very helpful. Thanks for the estimate, @DCGenomics. (Do you have a real first name, that I can call you?)
My estimate of $179 per team seems to be on the low side then. Do you have a breakdown of the costs at $300 per team? I'd like to know if I was underestimating the cost of storage and transfer.
@adrisua has a contact, Gaurab Basu from AWS in Seattle.

[2016-03-21 18:54] ababaian commented on #9
Done and done : )

[2016-03-21 18:54] #9 closed

[2016-03-21 18:55] ababaian commented on #1
I concur; but the original issue is still open: I need photos of all of you! <3

[2016-03-21 18:57] DCGenomics commented on #6
Sure, my name is Ben Busby, and I work at NCBI.

Im also looping Matt Lesko from NCBI, who has been the technical lead for
our hackathons in on this conversation.  He can give you a specific
breakdown of costs per team (as you suspected before, its not the same for
each team).

Cheers!
Ben

[2016-03-21 18:57] ababaian commented on #1
I concur w/ Tiffany; we can deal with this later.

That being said I still need photos uploaded from: @brunogrande @minisciencegirl @santina @cloucks

Aand @sjackman, the photo you provided is a bit too narrow; the icons are circular, could you provide a photo that's a bit wider?

[2016-03-21 19:48] sjackman commented on #1
Fixed in bd7660675698203b22c51be3fbe0f8005b73ba06

[2016-03-21 21:14] nyetsche commented on #6
For such a short period of time (72 hacking hours, plus a few more to set things up and tear them down), the cost of an instance dominates. We've been pretty successful with giving each team a `m4.4xlarge` on Day 1 and one large root volume (~2TB, or more if somebody knows ahead of time). That's `$0.958/hr/team` as you identified earlier.

The advantage of AWS is that one can spin up more and larg

[2016-03-21 23:48] #12 closed

[2016-03-22 00:04] adrisua commented on #1
Funny how something can be simple and complex at the same time. The driver to start this conversation was the application for sponsorship I am sending out to organizations, which in some cases require to state roles/and or the person leading the event.
Titles or no titles, this is a really exciting project and it is wonderful to be part of such an awesome team! It has been and I'm sure will keep b

[2016-03-22 17:26] sjackman opened #14 "Participants application"
For reference:
https://docs.google.com/forms/d/19dXK7tkGZ6hoyZLZxbnyqLsTNVZDKUQGBxrz1dmYpHg/viewform

Application for Participation in Advanced Genomics Hackathon (Boston)
- What is the primary research question you work on?
- Do you have a working knowledge of shell scripting?
- Do you use any other programming languages?
- Please tell us in 3-4 sentences why you want to participate.
- What is yo

[2016-03-22 19:28] DCGenomics commented on #14
Happy to share the original doc with the group.

Cheers!
Ben

[2016-03-22 21:29] santina commented on #14
I guess that, for our purpose, this application would also include choices of their favorite projects once those are finalized.

Btw, Thank you @DCGenomics  (Ben)!  :)

[2016-03-22 23:18] BrunoGrandePhD commented on #1
Done in d8d032e.

[2016-03-22 23:26] adrisua commented on #14
@santina would you mind reminding me, when are you planning to send a draft of the participants applications to the team?

[2016-03-22 23:57] santina commented on #14
@adrisua I just realize something: Is this the 1) interest one or the 2) actual application ?
1) This won't need all the details, but just their email so we can contact them when the application opens.
2) I can make one this week, going with the content in the first comment, and have a placeholder for the favorite projects checklist since we don't have that info yet.

[2016-03-23 05:58] adrisua commented on #14
Sounds good! Thanks @santina

[2016-03-23 06:09] adrisua opened #15 "Team leaders form"
@sjackman @cloucks @Brittdrog
This issue has a new home
https://github.com/ttimbers/October_2016_private/issues/4
Draft for the team leader application:
https://docs.google.com/forms/d/10n52V3flb7Z9z-ulBqAHS8tWVG2ov4b13BQLWYs4tRc/edit?usp=sharing
@DCGenomics please feel free to give us your feedback
cc: @ababaian @ttimbers @brunogrande @GalenWright @minisciencegirl @santina

[2016-03-23 14:07] adrisua opened #16 "New logo and link"
@ababaian Would you mind adding the ASHG logo in the Partners Section and linking it to: http://www.ashg.org/2016meeting/? Also in the front page below the dates, would you mind adding: "A satellite event of the ASHG meeting". Thanks!

[2016-03-23 15:52] cloucks commented on #15
Thanks @Brittdrog and @sjackman for your improvements!

[2016-03-23 18:24] adrisua commented on #16
Also the NCBI one please (in the Partners Section). Thanks!

[2016-03-23 18:32] ababaian commented on #16
Done and done. It's not super pretty right now but I'll have some time soon to hack together the CSS code to make the whole thing look really pretty.

[2016-03-23 18:32] #16 closed

[2016-03-23 22:03] santina commented on #14
Dear all, here is the [first version](https://docs.google.com/forms/d/19rgCe3vTARspXwUWaOWeOSQJ8wKyl0NhpmIEAtPexNg/viewform?entry.1646382770&entry.182572379&entry.74895983&entry.697730621&entry.992601766) of the participant form. Please comment if you have any suggestions/thoughts for changes. Thanks!

[2016-03-23 23:33] GalenWright commented on #15
Hey, I think the team leader application form looks great! Just a couple of suggestions, feel free to use them or not:
- In one of the example forms, there was a field for approximate geographic location. I think this would be useful, as well as one for the applicant's related institute
- Section 1, where it asks are you available for the three days - should we give a rough approximate hours expec

[2016-03-24 04:11] cloucks commented on #15
@GalenWright thanks for your great suggestions! @adrisua have the specific start and end times been decided for the three days?

[2016-03-24 15:54] ttimbers commented on #14
@santina should we ask them if they are familiar with version control and remote/high-performance computing?

[2016-03-24 17:01] DCGenomics commented on #15
We usually run from 9-6 with some networking time after.

This also seems to decrease burnout (instead of working 24 hours).  Many
folks will continue making commits after networking time.

[2016-03-24 17:20] DCGenomics commented on #14
Just a couple of notes from NCBI Hackathon experiences:

In terms of versioning, we ask all accepted applicants for a github user
name.  This might be something that could be added to the application, but
about 1/3 of qualified applicants don't already have github accounts, so
that may cause some drop off.

As for hpc, we do most of that for the attendees.  Usually, one person in
each group is des

[2016-03-24 17:58] ttimbers commented on #14
+1 to asking for github user name. A definite must for team leaders (since we require the projects to be open source), and a good way to help screen for participants.

[2016-03-24 18:21] sjackman commented on #15
I'd like to find out what software they need for their analysis, make sure that there are Homebrew-science formula for that software, and possibly create a machine image with it preinstalled. That is, one machine image shared by all teams with all the software installed on it. There will likely be some overlap between groups. I don't think this question needs to go on the original application. We

[2016-03-24 18:28] sjackman opened #17 "Standard date format"
@hackseq/steering_committee

Can we please use the standard ISO 8601 YYYY-MM-DD date format in our GitHub issues, communications and spreadsheets? Pretty please?

![](https://imgs.xkcd.com/comics/iso_8601.png)
https://xkcd.com/1179/

[2016-03-24 18:30] cloucks commented on #15
I wrote little blurbs for the team leader and mentor descriptions in the team leader application (partly drawn from the emails we will send out to potential team leaders). Please feel free to edit/improve them.

[2016-03-24 18:46] cloucks commented on #15
@ttimbers I also made a separate mentorship application form: https://docs.google.com/forms/d/1Mps9NRYI70d5b0kznMqbUINGSETwqNJz6ImyVPfy8xc/edit?usp=sharing

[2016-03-24 18:49] ttimbers commented on #15
@cloucks thanks for making this. Can we add a couple more questions to assess mentors knowledge level and ask them to write a couple sentences on why they want to participate? Raising the bar a little will hopefully help ensure those who sign-up to become mentors, actually show up to the event.

[2016-03-24 18:50] cloucks commented on #15
Good idea @ttimbers

[2016-03-24 18:53] DCGenomics commented on #15
Great point!  Matt and I have a bunch of amis from previous teams that
might be helpful.  I believe we have a "base ami" too

[2016-03-24 23:49] adrisua commented on #14
It looks great @santina!
I just got great news from the ASHG. They have approved up to $4,500 (or 3 travel grants) for hackseq participants! Woohoo!! There are some stipulations, however:
Each recipient must be:
1. A trainee (e.g., a graduate student or post-doc)
2. A member of ASHG (membership number required)
3. Registered for the 2016 ASHG Annual Meeting in Vancouver

Would you mind adding the

[2016-03-24 23:51] ttimbers commented on #14
Fantastic news about the travel awards from ASHG!!!

[2016-03-25 00:56] adrisua commented on #15
@cloucks  Yes, dates are set.
The forms look great!!

[2016-03-25 21:22] adrisua commented on #14
@santina If there are more than three participants that fulfill the requirements, what would be the factors we will be taking into consideration for giving out the awards?
cc: @hackseq/steering_committee

[2016-03-27 01:24] santina commented on #14
@adrisuaDefinitely fantastic news on the grant !

I guess it'll depend on whoever would need it more based on their geographic location, their potential contribution to the event, their demonstrated interests, and whether they check off all three requirements.

I'm trying not to put too many (long) questions in the application, so I'm putting the second question (why do you want to participate in

[2016-03-28 12:28] nyetsche commented on #15
@sjackman I have an AMI and a "manifest" of the software installed for the last hackathons. It's in a Google doc, I'll share it with you.

It's always hard to pin down just what is needed (and versions) so it's more of a best guess than perfect AMI. It's all manual `./configure && make` installed into `/opt`, and then I added that to `$PATH` in `/etc/profile.d/` just to make it easy for the users.

[2016-03-28 14:10] nyetsche commented on #15
Actually, as an addendum, I had a lot of help/convenience for that AMI by using BioBuilds - https://biobuilds.org/downloads/ - a twice-yearly, curated, pre-compiled collection of common bioinformatics tools.

I'll also take a look at `homebrew-science` and a homebrew install for Linux next time.

[2016-04-05 00:18] #1 closed

[2016-04-08 12:22] DCGenomics commented on #1
I might have mentioned this before, but I would also suggest getting a <librarian> to help with writing articles to advertise the software piece of things.  Perhaps there is a medical librarian or similar at UBC or SFU?  If no one comes to mind, Ill be at the medical librarian association meeting in Toronto next month and can ask around.

Please advise.

[2016-04-09 02:24] ababaian commented on #1
Having a dedicated 'documenter' may be an idea. Have people with specifically strong writing skills join each team.

Related to this, we should consider a head writer (maybe on the committee) to write a [meeting report for publication](http://jbiomedsem.biomedcentral.com/articles/10.1186/2041-1480-1-8)

[2016-04-11 19:30] sjackman commented on #17
With no objections, I herby declare declare this motion passed unanimously.

[2016-04-11 19:30] #17 closed

[2016-04-11 19:33] sjackman opened #18 "VanBUG talking points"
Do you have any suggested talking points for me for VanBUG this Thursday?

[2016-04-11 19:33] sjackman commented on #18
Amy wrote…

[2016-04-12 14:41] BrunoGrandePhD commented on #17
You have my full and unfaltering support for ISO 8601.

[2016-04-12 16:34] santina commented on #17
Me too!

Signed:
Santina Lin
April 12th, 2016, tue

[2016-04-13 03:11] santina commented on #18
Here are some that came to mind:
- Give an idea of what HackSEQ is like. This includes some examples projects of appropriate length/depth for the limited time frame, the skill sets we're looking for, and how they will be judged,  who are judging (so to bring up some familiar names of PIs)
- Application process (i.e. team leaders first now and then applicants choose the projects)
- Various types of

[2016-04-13 04:28] sjackman commented on #15
When are the team leader project proposals due?

[2016-04-14 18:22] sjackman commented on #18
When are the project proposals due?

[2016-04-14 18:41] sjackman opened #19 "Add days of the week to the front page"
Please change "Oct 15-17th 2016" to "Sat–Mon Oct 15–17, 2016"
at http://www.hackseq.com/

[2016-04-14 18:49] #19 closed

[2016-04-14 18:52] sjackman commented on #18
Here's an example script. This won't be memorized, but gives you an idea of what I plan to say.

The ASHG conference, American Society of Human Genetics, is being held in Vancouver this year in mid-October. The weekend before the conference we're organizing a bioinformatics hackathon, HackSeq, taking place Saturday to Monday, October 15th to 17th. The hackathon works like so. People interested in

[2016-04-14 18:52] sjackman opened #20 "Child care"
Would we like to consider offering child care if there's interest?

[2016-04-14 18:53] ababaian commented on #18
I think we were saying April 30th as the due date but the abstract deadline for ASHG is now June 2, 2016.

[2016-04-14 18:54] sjackman commented on #18
Should we match our proposal deadline up with ASHG?

[2016-04-14 18:58] sjackman commented on #19
Thanks, Artem!

[2016-04-14 21:51] ttimbers commented on #18
@sjackman, sure, I think it makes sense to match-up our proposal deadline with ASHG. How about Team Leader apps are due June 2nd. Then we can open participant applications (or get people who already registered to rank the team leader submitted projects) and have them still submitted by June 30th. @ababaian @santina @adrisua what do you all think?

[2016-04-14 21:52] ttimbers commented on #18
and @sjackman your example script looks great!

[2016-04-14 21:55] ttimbers commented on #15
From discussions [here](https://github.com/hackseq/October_2016/issues/18) @sjackman suggested we align team leader project proposals to be due on June 2nd to align with ASHG. I agree, what do others think?

@sjackman if we don't come to a consensus on the date before VanBUG today, let's just announce the April 30th date, and we can always "extend" it later if that is what we decide to do. Sound g

[2016-04-14 21:57] ttimbers commented on #20
Yes - a discussion on this has already been started [here](https://github.com/ttimbers/October_2016_private/issues/5), so I will close this issue and we can keep the discussion in one place.

[2016-04-14 21:59] sjackman commented on #18
June 2nd sounds good to me. Thanks, Tiffany!

[2016-04-14 22:02] sjackman commented on #15
If we can quickly decide on June 2nd, I'd like to announce that date.
@hackseq/steering_committee What do you all say?

[2016-04-14 22:03] sjackman commented on #15
Once we have decided, @ababaian can you update the web page with the project proposal due date? Perhaps even on the front page.

[2016-04-14 22:04] sjackman commented on #20
Ah, sorry. I missed that. Thanks, Tiffany.
Duplicate of https://github.com/ttimbers/October_2016_private/issues/5

[2016-04-14 22:26] ababaian commented on #18
If I remember, originally we wanted the *participant* applications to be due ~ June 2nd so they could book their plane tickets accordingly. That might not work if we added an additional team leader's choosing their teams to the process.

Unless we do something like
- April 30th Team Leader Due.
- May 15 Participant Due.
- June 1st Decide on teams.

 Not sure if that's feasible tbh.

[2016-04-14 22:27] ababaian commented on #15
If I remember, originally we wanted the _participant_ applications to be due ~ June 2nd so they could book their plane tickets accordingly. That might not work if we added an additional team leader's choosing their teams to the process.

Unless we do something like
- April 30th Team Leader Due.
- May 15 Participant Due.
- June 1st Decide on teams.

  Not sure if that's feasible tbh. Using a June 2

[2016-04-14 22:41] Brittdrog commented on #15
I agree with @ababaian that we need to co-ordinate our application deadlines so that people can book their flights accordingly. I think we should probably keep April 30th for team leader applications and make participant deadlines June 2nd (coinciding with ASHG abstract deadlines). May 15th may be a bit of a tight deadline to advertise projects and get participant applications in.

We could always

[2016-04-14 22:44] sjackman commented on #15
April 30th is only two weeks away. Does that give enough time for people to hear about it by word of mouth and submit an application?

[2016-04-14 22:48] GalenWright commented on #15
We could extend Britt's dates by two weeks, which would give the team leaders a month to put together applications and allow more time for word to spread about the event. It would also give us the opportunity to email the invited team leaders again, reminding them of hackseq in case they forgot about the previous email.

[2016-04-14 23:26] sjackman commented on #15
The motivation for the June 2nd decide-on-teams deadline was to get the info to the leaders and participants in time for them to schedule their travel. ASHG abstracts are due June 2nd, but they won't hear back regarding acceptance until mid-August, and probably won't schedule their travel until they've heard back. How about this schedule?

Thu June 2: Team leader project proposal due
Thu Jun 30: P

[2016-04-15 00:13] #18 closed

[2016-04-15 00:38] DCGenomics commented on #20
404 for me

[2016-04-15 05:06] sjackman commented on #20
That thread is private. Here's what I've written:

We could talk to UBC child care. The weekend during the day is probably quiet for them.

Nannies on Call charges
$32 per booking plus
$16 per hour for the first eight hours plus
$24 per hour for each additional hour after the first eight plus
$3 per hour per child after the first child
See https://www.nanniesoncall.com/families/on-call/vancouver/

[2016-04-17 17:31] ababaian opened #21 "April Meeting?"
@hackseq/steering_committee, I know we have a meeting planned for mid-May. Do we want to meet earlier then that for an hour or so to discuss recruitment, promotion and planning for hackseq? Might re-focus us on our next actions, especially for finding Team Leaders.

[2016-04-17 19:32] sjackman commented on #21
Liz and I are both in rehearsals right now and so busy, but I'd join if I can.

[2016-04-18 16:46] ttimbers commented on #21
Let's try for a Google Hangout meeting - this might be a more realistic option for a quickly scheduled meeting.

@hackseq/steering_committee members, please fill out the doodle poll link below to find a good time to meet. The meeting will be one hour long. Please try your best sign-up for at least 2 times so that we can find a time when we can all meet.

http://doodle.com/poll/2i59bn3qcxg9ipf2

[2016-04-19 02:53] ttimbers commented on #21
@hackseq/steering_committee it is looking like Friday, April 22nd at 10am is the best time for most people. @cloucks @adrisua @brunogrande can you make that date & time? If not, do you mind if we have a short meeting without you?

[2016-04-19 17:02] cloucks commented on #21
That works for me! @ttimbers

[2016-04-19 17:05] DCGenomics commented on #21
Cant make the meeting, but let me know if there is any way I can help,
besides encouraging folks to apply to be team leads, which I plan to do
later this week/next week.

Cheers!
Ben

[2016-04-20 00:38] BrunoGrandePhD commented on #21
I'll be able to make it.

[2016-04-20 01:12] BrunoGrandePhD commented on #21
Can someone create an agenda? It would greatly increase the efficiency of the meeting. Unfortunately, I don't have the time to consolidate the various open issues because of my upcoming PhD candidacy exam.

@ttimbers, as the secretary, do you mind doing this? It's not strictly necessary, but I would rather not have the meeting go on and on like last time.

[2016-04-20 01:20] ttimbers commented on #21
@hackseq/steering_committee our next meeting will be on Google Hangouts on Friday, April 22 at 10am, as this is when most of us can meet. Apologies to those who cannot make it. We will take detailed notes and invite you to comment/vote on anything discussed.  The link to the hangout is [here](https://hangouts.google.com/call/fychc5zmkjd6rlbjvfaa37kqyme).

Please add any items that you wish to disc

[2016-04-20 01:22] ttimbers commented on #21
@brunogrande I did this as you wrote the request, great minds think alike :)

[2016-04-21 22:12] ttimbers commented on #21
@hackseq/steering_committee please remember to add anything that you want to discuss at tomorrow's meeting to the [agenda](https://github.com/hackseq/October_2016/blob/master/meeting_notes/2016-04-22_meeting_agenda.md).

[2016-04-21 22:47] sjackman commented on #21
Good agenda. Thanks, Tiffany.

[2016-04-22 18:25] santina opened #22 "Example projects"
Hi @DCGenomics,
Do you have a list of project titles and maybe the description of them from previous hackathons you were involved in? We would like to see what a successful project look like and provide some examples to our potential team leaders. Thanks!

[2016-04-22 18:35] DCGenomics commented on #22
Sure!  I can send 'em over on Sunday.

Also, many one line descriptions can be seen on github.com/NCBI-hackathons

Cheers!

Ben

On Fri, Apr 22, 2016 at 2:25 PM, Santina Lin notifications@github.com
wrote:

##

What have you done today to make the world a better place?

[2016-04-22 21:09] minisciencegirl commented on #6
@sjackman: is there any plan to use Galaxy at the hackathon?

[2016-04-22 21:10] sjackman commented on #6
No plan, and I have little experience with Galaxy myself, but let's get feedback from the project leaders if that would be useful to them.

[2016-04-22 23:11] BrunoGrandePhD commented on #6
My supervisor was considering leading a team focused on Galaxy tool development. However, we would just install Galaxy on vanilla EC2 instances.

[2016-04-22 23:30] minisciencegirl commented on #6
That's fantastic @brunogrande! I will let the Galaxy Project people know - they mentioned that they will heavily promote the event if it's linked to Galaxy.

[2016-04-22 23:37] sjackman commented on #6
Great!

[2016-04-23 02:23] santina commented on #22
@DCGenomics Thank you! Really appreciate the prompt response :)

[2016-04-23 02:46] santina opened #23 "Workshops/talks during hackathons to increase the exposure"
Hi team,

Taken from the [Hackathon Guide book](https://hackathon.guide/), we might want to consider having a parallel track with training workshops or talks to make our event even more attractive to participants.

I know for some people, the word "hackathon" has a bad rap because of some unhealthy practices (allnigters, caffeine, alcohol) in some hackathons and a negative connotation with too muc

[2016-04-23 03:43] brunogrande opened #24 "Should we move away from the term "hackathon"?"
I think we can all agree that we should aim for diversity among our team leaders and participants. When I was reading [the private thread](https://github.com/hackseq/October_2016_private/issues/5) on encouraging women to participate, [this one tweet](https://twitter.com/erinrwhite/status/707956467224190976) came to mind. The gist of it is that the name we give the event might have a strong influen

[2016-04-23 03:52] brunogrande opened #25 "Put in place a Code of Conduct"
We should put in place a code of conduct for our event. If you're wondering why, you should read [this blog post](http://www.ashedryden.com/blog/codes-of-conduct-101-faq#coc101why) by Ashe Dryden. That blog post links to a few Code of Conducts that we can use. Someone also posted [another one](http://hackcodeofconduct.org/) in the Etherpad for our meeting on 2016-04-22. This isn't urgent, but I wa

[2016-04-23 11:29] DCGenomics commented on #24
FWIW, I discussed that particular tweet with some female Hackathon
participants and they found it ridiculous.
On Apr 22, 2016 11:43 PM, "Bruno Grande" notifications@github.com wrote:

[2016-04-23 11:38] DCGenomics commented on #24
That said, the biggest predictor we have seen of having diversity in
participants is having diversity in team leads.  With that in mind, and in
general, I would suggest approaching those who you think would be strong
team leads and asking them to participate.
On Apr 23, 2016 7:29 AM, "Ben Busby" ben.busby@gmail.com wrote:

[2016-04-23 16:02] ttimbers commented on #24
Another word that I've seen organizations use is "sprint", for example the Mozilla Science Global Sprint that has been happening for the last 3 years. Since we've already got hackseq on all our documents & accounts, it might be easier to keep it + add a descriptor. Such as those @brunogrande already suggested and a couple others:

Hackseq Unconference
Hackseq Codefest
Hackseq Sprint
Hackseq Code S

[2016-04-23 16:07] Brittdrog commented on #24
This is an interesting discussion - I am in two minds.

In terms of logistics, we have already contacted several people and have set up websites, accounts, etc using our name and describing the event as a genomics hackathon. I think it looks a little unprofessional to change this now (esp given that our original leader application deadline was 30 April).

We are also basing our format on previous

[2016-04-24 17:00] GalenWright commented on #15
The hackseq account just received an email about the deadline for team leader applications. I looked on our website and could not find a date mentioned under http://www.hackseq.com/participate/.
@ababaian could you possibly include the team leader deadline, with the revised date, on this page? Thanks!

[2016-04-24 18:51] ababaian commented on #24
I'm more inclined to keep it as a Genomics Hackathon. The twitter post was comparing "Creative Coding Hackathon" vs. "Creative Coding Workshop" vs. "Creative Coding Lunch Group". Hackathon attracted the most males but also the most computer science students. I think those are not independent variables and in biology the the gender ratio is closer to parity then in compsci. I don't think it's going

[2016-04-24 18:53] #21 closed

[2016-04-24 18:59] ababaian commented on #15
Done and added due date to the top of the application form.

[2016-04-24 21:30] DCGenomics commented on #22
Here are some initial project titles.

Some of them evolved into the ones you see on the NCBI-hackathons github
repos.

Prediction of immunogenicity from cancer and bacterial peptides
Deriving Structural Variants from RNA-seq Data Using GATK
Building a pipeline for determining RNA sequence variability in neurons
from any species
Small molecule docking in solved protein structure space.  Effects of

[2016-05-02 21:40] ttimbers commented on #24
OK, since most people on this thread have said that they want to keep the term hackathon, and particularly because we have already starting advertising as this, I won't put forward a vote to change the name. I will instead add it to [this list](https://github.com/hackseq/October_2016/blob/master/suggestions_for_next_time.md) of things we might want to reconsider if we plan another such an event in

[2016-05-02 21:53] ttimbers commented on #25
+1 to adding a code of conduct @brunogrande! We could borrow [this one](http://software-carpentry.org/conduct/) from Software Carpentry or [this one](https://www.mozillascience.org/code-of-conduct) from the Mozilla Science lab.

[2016-05-05 15:46] adrisua opened #26 "Sponsors"
@ababaian The website looks great! I like the new format for the icons of sponsors and partners. Would it be possible to organize the sponsors in the following sections: Gigabase: ECOSCOPE; Megabase: ASHG (this one could be removed from the community partners section)?

[2016-05-06 19:12] ababaian commented on #26
Can we request a vector/high quality Ecoscope logo? The one I snagged from the website isn't really good quality.

[2016-05-15 16:39] ttimbers opened #27 "Reminder - hackseq meeting on 2016-05-17 at Stateside Craft on Commercial Drive"
@hackseq/steering_committee this is a reminder that we are scheduled to have our next in person meeting this upcoming week, on 2016-05-17 at [Stateside Craft](http://www.statesidecraft.com/) on Commercial Drive. See [the map](https://www.google.ca/maps/place/Stateside+Craft/@49.2703918,-123.0699025,15z/data=!4m2!3m1!1s0x0:0x4ad02d60be118d5d?sa=X&ved=0ahUKEwjl2ZzbwdzMAhUI0GMKHXrpCA8Q_BIIdjAL) for l

[2016-05-15 16:43] ttimbers opened #28 "Remote participation at 2016-05-17 meeting"
@adrisua you noted on the agenda that Ben would be joining us? I am guessing that is remotely? Please let him know that we will be meeting at a pub, and as a large group so he may have trouble hearing things, but he is welcome to watch our planning etherpad (http://pad.software-carpentry.org/hackseq) and comment on it.

[2016-05-15 17:53] DCGenomics commented on #28
You guys seem awesome!  I'll likely be at a pub in Toronto for the meeting,
and I'll follow it on the etherpad.

Cheers!

Ben
On May 15, 2016 12:43 PM, "Tiffany Timbers" notifications@github.com
wrote:

[2016-05-15 20:53] adrisua commented on #26
Would this one work?:
October_2016/website/sponsors/ECOSCOPE.jpg

[2016-05-16 10:13] DCGenomics commented on #27
Here's some draft language for #3, bullet point #2.

Congratulations!  You have been selected for the Network Analysis of SNPs
team

###

At the January, 2016 NCBI Hackathon!

Please let us know **_by responding to this string**_ by _5 pm, Monday
December 7th_ if you will be able to attend the [entire] event in Bethesda,
MD.

Thanks for your interest and congratulations!

Much more correspondence

[2016-05-16 17:29] ababaian commented on #26
That one is great. I put bioinformatics under megabase. Let me know if that all looks right.

[2016-05-16 20:45] ababaian commented on #27
I won't be able to make it tomorrow. We have family visiting from Germany and are ending up going out of town.

I'll check the minute and do all website stuff starting Thursday

[2016-05-17 23:24] BrunoGrandePhD commented on #27
If ever Stateside Craft is too noisy, can we have a backup plan of where we can move to? Perhaps to a nearby coffee shop. I'd rather move to a better place as soon as we realize it's not ideal for a meeting.

[2016-05-17 23:29] ttimbers commented on #27
Not sure if the 10 or so of us can fit in a coffee shop, which is why I opted for a pub... But there are several coffee shops across the street within a block or two we could try if its too noisy... Its on the agenda to discuss future meetings. It's hard with people being in different locales, maybe remote is the answer (although I'd be sad not to see you all once in a while!)

[2016-05-17 23:43] sjackman commented on #27
It would be difficult to arrange a plan B on short notice. Let's stick with Stateside this time around.

[2016-05-19 03:04] santina commented on #23
Just to update the status on this since our meeting yesterday: So I will add a speaker option to the applicant form to see how much interest there are.  This information should also be available on the website.

[2016-05-19 03:27] santina commented on #14
Hi, based on the meeting yesterday ([etherpad](http://pad.software-carpentry.org/hackseq)), we said we want to ask people why they need travel award, as well as adding the option for speaker in the application.

I have updated [the applicant form](https://docs.google.com/forms/d/19rgCe3vTARspXwUWaOWeOSQJ8wKyl0NhpmIEAtPexNg/viewform) accordingly. Any feedback is welcome.

[2016-05-19 03:27] santina commented on #24
In the meeting we said we'll consider this next year since it's too late to change it now.

[2016-05-19 03:27] #24 closed

[2016-05-19 04:15] adrisua commented on #26
Thanks! bioinformatics was BasePair. Would you mind to update that?

On Mon, May 16, 2016 at 10:29 AM, Artem Babaian notifications@github.com
wrote:

[2016-05-19 17:46] Brittdrog commented on #14
Hi @santina. I think the form looks good.

Here is some feedback:
- I think "If you're only interested in giving a talk/workshop, you may skip the speaker-specific section" may be worded incorrectly. Maybe it should read "...you may skip **to** the speaker...."
- I also want to check if you have added a form notification so that participants will get a notification once they submit the form (with

[2016-05-19 17:49] Brittdrog commented on #15
@cloucks - do you think we should add the travel award application info to the team leader application forms? We could maybe send emails to the applicants who have already applied to inform them that they can apply for travel awards?

[2016-05-19 20:04] cloucks commented on #15
@Brittdrog I think it's a good idea to add the travel award info to the team leader application, and if only trainees are eligible we don't have to worry about the people who already applied.

[2016-05-19 20:15] Brittdrog commented on #15
@cloucks - Perfect!

[2016-05-20 15:09] #27 closed

[2016-05-20 15:22] santina commented on #14
Hi @Brittdrog , I have made some changes according to your suggestions.  Thank you for pointing those things out!

One thing I'm not certain about is the last point. We want to prioritize on financial need first and foremost, as discussed in the meeting earlier this week. If we say minorities and developing countries, would we need to specify which groups we consider to be minorities and what coun

[2016-05-20 16:04] minisciencegirl commented on #14
@santina: I don't think we need to. We can create an internal rubric when we are evaluating, but that doesn't need to be spelled out for the application.

[2016-05-20 16:20] Brittdrog commented on #14
@santina we could phrase it like the ASHG developing country awards i.e. "developing country as classified by the [World Bank](http://data.worldbank.org/about/country-and-lending-groups) under the low-income and lower-middle income categories."

[2016-05-20 16:28] Brittdrog commented on #14
@santina Sorry, I missed your question about the minorities. Maybe we could say something like "Preference will be given to individuals from developing countries (as classified by the World Bank under the low-income and lower-middle income categories) and we encourage the participation of individuals from underrepresented groups, including women and minorities." Then like @minisciencegirl suggeste

[2016-05-29 02:31] santina commented on #14
Okay thanks! I made the change.

[2016-05-29 03:54] #22 closed

[2016-06-01 13:34] sjackman opened #29 "Docker Bioinformatics image"
There's a project at the BCGSC to build a Docker image containing all the bioinformatics software in Homebrew/science named ORCA, and I think it could be useful for HackSeq. There's a demo server at the GSC running this image, and we can make use of it for low-to-medium-resource jobs for HackSeq. If you would like an account on this machine to test it out, send me a private message (e-mail or Twit

[2016-06-02 19:00] adrisua commented on #15
@Brittdrog @cloucks Just wondering where the team leader applications live. How many do we have so far? @minisciencegirl are the twitter feeds being effective or should we look for alternative channels?

[2016-06-02 19:09] cloucks commented on #15
@adrisua @Brittdrog @minisciencegirl We're at 7 applications now (a new one came in today). You can access the team leader application form here (the hackseq email account has access): https://docs.google.com/forms/u/0/d/10n52V3flb7Z9z-ulBqAHS8tWVG2ov4b13BQLWYs4tRc/edit#response=ACYDBNgWYKcK99nIqN1pD6vcVrcVKaB6IGyMFn-kf83x4wlhRPv_0bxhRxoLzCw

[2016-06-02 22:30] minisciencegirl commented on #15
@adrisua: I just looked up our Twitter Analytics and the data look better than I expected. We have 6.5K impressions for the last month, with about 238 impressions per day. This is not bad considering that we have only about 70 followers. A big thank you @adrisua for getting the ASHG account to retweet our tweets and follow us - that definitely drove traffic to our account.

For anyone interested i

[2016-06-03 07:10] adrisua commented on #15
Let's extend the deadline to June 16th? @hackseq/steering_committee Early next week we could start sharing the info in our own departments, Faculties... @cloucks @Brittdrog Do you have a template we could use for departmental newsletters, mailing lists? I could reach out to the Faculty of Science and Forestry at UBC

[2016-06-03 07:37] sjackman commented on #15
A two-week extension seems reasonable.

[2016-06-03 14:50] Brittdrog commented on #15
I just checked the applications and we have 10 applications in. Maybe some of the hackseq members can put in an application too (I see @sjackman has already put in an application).

My worry is that people are already concerned about booking [accommodation](https://twitter.com/girlscientist/status/738409594955911168) and we still need to get participants to apply. We are also getting contacted by

[2016-06-03 17:20] sjackman commented on #15
Shall we send out e-mails with abstracts to participants on Thursday June 9? We can in the next few days solicit more project proposals directly from people we know.

[2016-06-03 17:50] Brittdrog commented on #15
Sounds good to me.

[2016-06-03 18:20] cloucks commented on #15
I like that idea too.

[2016-06-03 18:38] adrisua commented on #15
New deadline for team leaders applications: June 8th. @ababaian @brunogrande @santina @ttimbers Would you mind sharing this in your network @Brittdrog thanks for the template: October_2016_private/TeamLeaders/Email_for_distribution_to_societies.pdf

[2016-06-03 18:42] GalenWright commented on #15
@adrisua I may have misinterpreted it, but weren't we going to keep the team leader applications officially closed, but try and convince a couple of people to apply? Personally, I don't think we should announce an extended deadline again as it makes it look like we are struggling to get applications

[2016-06-03 18:44] GalenWright commented on #15
Sorry, @ababaian didn't mean to tag you directly - it was meant for @adrisua

[2016-06-03 18:46] minisciencegirl commented on #15
I agree with @GalenWright. I thought we were aiming for 10 applications to begin with?

[2016-06-03 18:47] sjackman commented on #15
10–20 as I recall.

[2016-06-03 18:50] cloucks commented on #15
I want to mention that we have 10 applications but only 9 submitted abstracts. There is one person who is unable to commit for the entire thing.

[2016-06-03 19:03] adrisua commented on #15
I think it is fair to give equal opportunity to everyone that would like to apply - since we are allowing late applications. Also, it will give our participants more options and diversity (if more people apply).

[2016-06-03 19:11] adrisua commented on #15
I shared the info with my departments (since I hadn't done it and people were asking me about it). Sorry for the confusion. If June 8th is still too late let me know.

[2016-06-03 19:43] GalenWright commented on #15
No worries, I guess we can phrase it on twitter, "Due to popular demand, we've decided to extend our team leader applications..."

[2016-06-03 19:51] ttimbers commented on #15
I'm not sure I agree with extending the deadline. 9 teams x 6 people per
team is 54 people. Plus all of us, and any mentors that wasn't too pop by
and help out. That's a big event!

[2016-06-03 19:51] ttimbers commented on #15
I'm not sure I agree with extending the deadline. 9 teams x 6 people per
team is 54 people. Plus all of us, and any mentors that wasn't too pop by
and help out. That's a big event!
On Jun 3, 2016 12:43 PM, "Galen Wright" <notifications@github.com> wrote:

No worries, I guess we can phrase it on twitter, "Due to popular demand,
we've decided to extend our team leader applications..."

—
You are rec

[2016-06-05 18:53] brunogrande opened #30 "Resources for organizing hackathons"
I'm creating this issue to compile any resources we find on organizing hackathons. So far, we have the following websites:

* https://hackathon.guide/
* http://guide.mlh.io/

Both have lists of tasks to be done X days/months before the event. I'll try to go through them within the next week and open issues for each task we need to worry about and organize them into milestones (_e.g._ a " 2 months

[2016-06-07 02:13] #28 closed

[2016-06-07 02:16] ttimbers opened #31 "hackseq remote meeting tomorrow (June 7th!)"
@hackseq/steering_committee this is a reminder that we are having a remote meeting tomorrow on Google hangouts. Here's the deets:

Date: 2016-06-07
Time: 9:00 - 10:00 am PST
etherpad agenda: http://pad.software-carpentry.org/hackseq
Google Hangout link: https://hangouts.google.com/call/fychc5zmkjd6rlbjvfaa37kqyme

[2016-06-07 03:01] adrisua commented on #31
I'll be at work so won't be able to join but added a comment about the travel grants.

[2016-06-07 03:33] GalenWright commented on #31
Unfortunately I have a last minute Skype interview scheduled at that time tomorrow

[2016-06-08 23:43] #15 closed

[2016-06-09 21:52] adrisua opened #32 "ASHG meeting June 30th (8:00am)"
@santina and/or @brunogrande Would you be able to join the upcoming phone call meeting with the ASHG? We will be discussing the allocation of the travel grants and logistics. June 30th (8:00am)

[2016-06-09 23:03] BrunoGrandePhD commented on #32
I should be able to join the call. I added it to my calendar. Share the information about the call privately via email perhaps once you have it. Thanks!

[2016-06-12 21:43] #32 closed

[2016-06-12 21:47] adrisua opened #33 "KiloBase sponsor -website"
@ababaian would you mind adding Genome BC's logo to the website under the Kilobase category? Thanks!

[2016-06-13 04:14] brunogrande opened #34 "Advertise the participant application form"
I noticed that the Hackseq Twitter account tweeted (now deleted; see screenshot below) the link to the participation form. However, the form isn't even ready yet; it still uses placeholder text for the project titles. I think we're still waiting on having the project descriptions posted in a public repository so the form can link to them. @ttimbers, what's the latest on this?

Going forward, let's

[2016-06-13 04:44] santina commented on #34
As soon as the repositories and project descriptions are up, I can update the application form. I also shared it with the Hackseq google account so everyone can edit it. There is also no titles/names for each project, so we'll have to come up with that as well.

[2016-06-13 15:20] ttimbers commented on #34
Team Leaders projects are now viewable and linkable as Github issues here: https://github.com/hackseq/hackseq_projects_2016/issues

[2016-06-13 15:21] ttimbers commented on #34
@hackseq/steering_committee Team Leaders projects are now viewable and linkable as Github issues here: https://github.com/hackseq/hackseq_projects_2016/issues

[2016-06-13 16:05] Brittdrog commented on #34
@ttimbers - Thanks, this is great. I will email the team leaders and let them know that their applications have been successful (with links to the Github issues). I will give them the opportunity to change their titles if they would like (until end of day tomorrow). @santina I will let you know if there are any changes to the titles and then we can open the participant applications on Wednesday if

[2016-06-13 18:35] ababaian commented on #33
Done

[2016-06-13 18:35] #33 closed

[2016-06-14 23:29] Brittdrog opened #35 "Accommodation"
We are having some questions relating to how close the hackseq and ASHG Meeting venues are to each other (for accommodation purposes). So I have made a [map](https://www.google.com/maps/d/edit?mid=1sZaegrYoiuYdD3Ls1Plk7QADPoA) showing where the venues are in relation to one another (with links to accommodation options). Please let me know if anyone else has any good suggestions for accommodation.

[2016-06-15 06:31] santina commented on #34
Thank you for following up on this @ttimbers and @Brittdrog . I have updated the project selection part of the  [application form](https://docs.google.com/forms/d/19rgCe3vTARspXwUWaOWeOSQJ8wKyl0NhpmIEAtPexNg/viewform)  Let me know what you think :)    I simply copied pasted the titles of the issues and used them as the titles of the project.

[2016-06-15 17:11] Brittdrog commented on #34
Hi @santina. Thanks, this looks great. I received another email from Grace Zheng and have changed her title in Github and the application form. If I receive any more changes, I will update the titles accordingly.

To avoid participants emailing hackseq with questions about time, location, registration etc, I added form notifications and a general info section to the application form. I have set th

[2016-06-15 21:11] Brittdrog commented on #34
Team leaders have been notified about the participant applications. @santina do you think we can start officially advertising the participant applications now (cc @minisciencegirl)?

[2016-06-16 03:18] #20 closed

[2016-06-16 04:33] santina commented on #34
@Brittdrog Thank you for making those changes !  It's great to have the general information and deadline at the top of the application. The name consistency was a good catch. The form notification is great. I have submitted a test application and did get an email with all the info about hackseq.

I think it looks good. Maybe someone can offer a second pair of eyes on this and then we can start adv

[2016-06-16 20:40] GalenWright commented on #34
@santina the form looks great. I made a couple of minor edits (e.g. mentioning that this is an ASHG satellite event and that they have sponsored our travel awards), I hope they help.

[2016-06-17 21:00] sjackman commented on #29
Here's the ORCA web page: http://www.bcgsc.ca/services/orca/
ORCA: genOmics Research Container Architecture
ORCA is a platform for bioinformatics analysis. It is suited for those wishing to conduct self-serve analysis using their own existing data.

[2016-06-17 22:22] sjackman commented on #14
Two issues reported by a participant:

The second issue, if you click on five projects, there's no way to submit the form. You have to start over from scratch. If possible, a button to clear the project ranking bubbles would be helpful.

[2016-06-18 04:47] santina commented on #14
O_O the horror! You're right. You can't unpick the project.  I'm looking into this. Thanks!

[2016-06-18 05:50] santina commented on #14
Alright, this is gonna sound messy but should resolve our issue.

I couldn't find a way to add a button, so my quick solution is transposing the multiple choice and add a text field above the question to list all the projects. The transpose changes the way the output spreadsheet looks, I created a new one call "Hackseq participant Responses" which you have access to with the hackseq account.

Goog

[2016-06-18 15:48] sjackman commented on #14
No worries. Thanks for the fix. Can you copy the ten project descriptions and their numbers into the form?

[2016-06-19 20:09] santina commented on #14
Hi @sjackman ,

Could you clarify what you mean?  Right now the [application form](https://docs.google.com/forms/d/19rgCe3vTARspXwUWaOWeOSQJ8wKyl0NhpmIEAtPexNg/viewform) has a list of 10 projects with their number and titles, there's a link to their descriptions. As shown here. The multiple choice grid scrolls horizontally.

![image](https://cloud.githubusercontent.com/assets/1039839/16179587/fcbd

[2016-06-20 17:13] sjackman commented on #14
Ack, sorry. I was dumb and didn't see the project titles directly above the multiple choice grid.

[2016-06-23 05:04] minisciencegirl commented on #34
Hi @santina: Thanks for the great form. Sorry for prematurely tweeting about it. If there's no objection, I can also email this to the UBC departmental email list that I have?

Someone brought up on Twitter about remote participation - what's our stance on this? Or should we let each team leader decide?

[2016-06-23 06:00] adrisua commented on #35
what about airbnb?

[2016-06-23 06:07] sjackman commented on #34
In person participation is preferred, but I would encourage an eager remote participant to contact the project lead directly.

[2016-06-23 06:15] adrisua opened #36 "Sponsor: Genetics Society of America - IDT"
@brunogrande Would you mind checking if we are eligible for grants from the Genetics Society of America (due July 10th http://www.genetics-gsa.org/conferences/traineesymposia.shtml)? Also, you mentioned that IDT might be a good source for funding. Would you mind looking into that option?

[2016-06-23 06:18] adrisua opened #37 "Food sponsors"
@brunogrande We could also start looking into potential food sponsors. I will check with chiplote. Would you mind exploring options with others (eg redbull - monster, clif, terra chips, chipotle, chocolates...). Thanks!

[2016-06-23 11:49] DCGenomics commented on #34
As much as I would love to see remote participation work, we've never had
any luck with it (people end up being ~~5% involved).  That said, if
someone could come up with a way to make it work, it would be really
helpful to several coding initiatives.

Based on what we have seen before, it's probably not advisable for folks to
have more than one member of their team remote, and to work on a specifi

[2016-06-23 16:16] sjackman commented on #34
Yes, I agree that the remote participant's duties must be arranged so that nobody else's work depends on them. They could for example handle testing or writing documentation.

[2016-06-23 16:30] DCGenomics commented on #34
Testing, perhaps for a few teams, might be an excellent role for such a
person!

Perhaps if there is a really qualified person who absolutely can't make it,
they could be assigned to such a role by the organizers.  (I may try this
out in August)

[2016-06-23 16:47] minisciencegirl commented on #34
Thanks for the input @DCGenomics and @sjackman. I will try to capture this discussion on Twitter (in chunks of 140 characters or less). Do we also want to put a few lines about remote participation on the website?

[2016-06-23 16:57] GalenWright commented on #6
I received an email from Angel Pizarro from Amazon on the hackseq gmail

@sjackman could you possibly correspond with them via our gmail? It could be a good opportunity. Thanks!

[2016-06-23 18:18] sjackman commented on #34
I'm not sure. If it's a common question (more than two people have asked), then yes, otherwise no.

[2016-06-23 18:20] sjackman commented on #6
I'd prefer to use my own e-mail address and cc the Hackseq e-mail address. Does that work for you? Yes, I'd be happy to follow up. Is this so that the participants can have some AWS credits in their name, not belonging to Hackseq? That does seem useful so they can do some follow up work after they leave.

[2016-06-23 18:26] GalenWright commented on #6
Thanks, that works for me. I will forward the email to the gmail you have listed on your GiHub profile. I'm not sure, but I that seems what they are proposing.

[2016-06-23 19:29] minisciencegirl commented on #34
Hi I am tweeting out each of the project (and will spread this out over the next few days to generate traffic). I noticed that on our form project 7 and 8 have the same title - but the github repo definitely have 10 different projects: https://docs.google.com/forms/d/19rgCe3vTARspXwUWaOWeOSQJ8wKyl0NhpmIEAtPexNg/viewform

Is this the correct link to use? @santina @ttimbers

[2016-06-23 19:36] Brittdrog commented on #34
@minisciencegirl I have not heard anything back from Justin Whitehill who proposed Project#3 "Explore high quality RNA-seq data from 2 genotypes of spruce following weevil attack, artificial wounding and untreated controls" so I am not sure if he is still planning on participating. Do you think we should hold off advertising this project until we get confirmation that he will be attending?

[2016-06-23 19:47] minisciencegirl commented on #34
Sure no problem @Brittdrog.

I noticed that Melissa has been tweeting out her project, encouraging people to apply to her team/ @hackseq and generating lots of tweets/ discussion. So this could be a good tactic for getting more participants.

[2016-06-23 19:52] Brittdrog commented on #34
Yeah - I think this is a great idea and I have been encouraging the team leaders to start recruiting/advertising. Tommy Carstensen has also indicated that he already has people interested in his project and that we will not need to worry too much about trying to get participants for his project.

[2016-06-23 20:00] adrisua commented on #34
@Brittdrog @minisciencegirl I will contact Justin and let you know

[2016-06-23 20:33] ttimbers opened #38 "2016-06-23 hackseq planning meeting tonight"
@hackseq/steering_committee this is a reminder that there is a hackseq planning meeting tonight at 6:00pm at the Genome Sciences Centre (570 W 7th Ave, 1st floor board room). Call Shaun at 778-235-0342 to be let in.

A meeting agenda has been drafted and exists here: http://pad.software-carpentry.org/hackseq. Please feel free to add anything you would like to discuss that is not currently on the a

[2016-06-23 22:21] santina commented on #34
Hey @minisciencegirl  I really apologize for the mistake I made in the form, with the duplicate project titles. It was a mistake when I was fixing the form.

Since then, we had two submissions. I could contact them to see if they would be interested in the project I missed out. Do you think that's appropriate?

Let me know about project 3.

[2016-06-23 22:43] minisciencegirl commented on #34
No worries @Santina, it's not a big deal. I just wanted to make sure I didn't tweet the wrong form.

Emailing the two applicants sound reasonable.

By the way, I am traveling to SF for a conference, so I can't make it to today's meeting. I will keep tweeting each project in the coming week.

Also let me know if you want me to email the participant application out to VANBUG.

[2016-06-23 23:24] cloucks commented on #38
Hi everyone, I apologize, but I also won't be able to attend the meeting tonight.

[2016-06-24 00:49] sjackman commented on #6
Summarizing the project proposals

5 projects require HPC
1 project will use an AWS data set
The data size totals 2 TB: `1, 1000, 2, 700, 100` (GB)
The hard drive sizes total 17 TB: `2*100 + 7*2000 + 6*32 + 1000 + 1000` (GB)
The requested machines: 1 large, 6 xlarge, 13 10xlarge

I'll put together a new AWS cost estimate spreadsheet for these resources. I don't have a good idea really of what I/O

[2016-06-24 00:56] sjackman commented on #6
@gracezheng Which public AWS data sets will you be using?

[2016-06-24 03:03] GalenWright commented on #14
As discussed at the meeting today, here's a draft of the email that we are going to send to potential participants that have sent us their contact details. @brunogrande kindly offered to send them this message tomorrow. Please let us know if there are any edits that you would like us to make before he sends it. Thanks!

Hi there!

Thank you for your interest in [hackseq](http://www.hackseq.com/),

[2016-06-24 03:16] adrisua commented on #35
@Brittdrog I found just what we needed:  http://suitesatubc.com/

[2016-06-24 03:17] Brittdrog commented on #35
@adrisua this is the link that I have been sending to anyone who asks:-) It is also in the map indicating the location of hackseq and ASHG

[2016-06-24 03:22] adrisua commented on #35
Once we have the final list of participants, we could we ask them if they would like to share a room with others.

[2016-06-24 03:23] adrisua commented on #35
@Brittdrog Great! That link has a wide range of options. This is another pricey alternative http://triumfhouse.ca/non-triumf-lab-ubc-rates.php

[2016-06-24 03:27] Brittdrog commented on #35
@adrisua - thanks - I have added this link to the map

[2016-06-24 03:55] gracezheng commented on #6
We have not released the dataset to the public yet. But it'll be similar in nature to this one, except the matrix file is about 0.5GB.

[2016-06-24 05:49] sjackman commented on #14
Looks good to me! I'd suggest including the 10 project titles in the email with links to each GitHub issue. That could follow your closing salutation.

[2016-06-24 05:50] sjackman commented on #6
Will you be using a public data set this already available on AWS? https://aws.amazon.com/public-data-sets/

[2016-06-24 14:56] santina commented on #14
@adrisua @ttimbers @minisciencegirl  I added the buttons on our [hackseq website](http://www.hackseq.com/) for links to the application and the project issues.

[2016-06-25 05:36] BrunoGrandePhD commented on #14
@GalenWright @sjackman Notification email sent! I included projects titles and links in the email.

[2016-06-25 14:05] sjackman commented on #14
Thanks, Bruno!

[2016-06-26 02:52] adrisua commented on #37
@brunogrande I did some searching and was told that Safeway, Save on, Booster, Starbucks are good places to look for sponsorship. I contacted chiplote and they are reviewing my application.

[2016-06-26 20:01] adrisua commented on #34
@minisciencegirl Thanks for tweeting :) I think sending an email to VANBUG would be fantastic. I contacted some women associations and asked them to cross promote (cmpt-women at SFU, ACM-W, WCT, and of course SCWIST)

[2016-06-27 06:21] adrisua opened #39 "Project withdrawal"
@Brittdrog @cloucks @santina Justin had a family emergency and won't be able to participate :(

[2016-06-27 14:14] santina commented on #39
Is it [this project](https://github.com/hackseq/hackseq_projects_2016/issues/8), "Explore high quality RNA-seq data from 2 genotypes of spruce following weevil attack, artificial wounding and untreated controls "  ?  Does that mean I should remove it from the application form?

[2016-06-27 16:45] Brittdrog commented on #39
@adrisua - sorry to hear! Thanks for following up on that.
@santina - that is the correct project. I have removed this project from the website and closed the GitHub issue. Can you please remove it from the application?

[2016-06-27 21:01] santina commented on #39
I'll put a note next to it, saying that this project has been closed. Because if I changed the answer fields right now, it might messed up the response form format.

[2016-06-29 00:36] #35 closed

[2016-06-29 01:09] Brittdrog commented on #34
@minisciencegirl - the 9 projects listed on GitHub are all confirmed, so all good to go for tweeting out each of the project. Good idea:-)

[2016-06-30 15:22] brunogrande opened #40 "Tweet about Hackseq and ASHG Travel Awards"
@adrisua and I just finished a teleconference call with some folks at ASHG and their communications team would be willing to retweet us. They would prefer to retweet something that mentions the ASHG Travel Awards.

@minisciencegirl, could you draft and tweet something that promotes Hackseq and the ASHG Travel Awards within 140 characters? Post the link of the tweet here once it's online. If ASHG d

[2016-06-30 15:32] #39 closed

[2016-06-30 18:08] minisciencegirl commented on #40
Done and tweeted: "Did you know @GeneticsSociety is providing 3 travel grants for #ASHG16 @hackseq participants? Fill out travel award: tiny.url/hackseqpart"

[Updated] https://twitter.com/hackseq/status/748586831617224704

[2016-06-30 18:11] GalenWright commented on #40
Tweet looks good, the url is broken though

[2016-06-30 18:14] minisciencegirl commented on #40
Really? I tried it on two browsers and they both worked…

[2016-06-30 18:20] GalenWright commented on #40
It's not clickable and when you paste it into the browser it doesn't work. Can anyone else confirm?

[2016-06-30 18:24] minisciencegirl commented on #40
ASHG already retweeted this tweet as well.

Let me know if there's anything else - if not, I will close this issue as being dealt with. I will probably schedule another similar tweet next week after the 7/4 long weekend.

[2016-06-30 18:30] GalenWright commented on #40
If the link is broken I think we should delete the tweet and DM the ASHG twitter account asking them to retweet the correct link

[2016-06-30 18:32] minisciencegirl commented on #40
The link is not broken. If you go into the @hackseq twitter account, click on the tweet, click on the right side of the tweet with the (...), that's the exact link provided when you click on copy tweet.

Additionally, ASHG already retweeted this tweet -- there are 3 retweets from that already. I don't think it makes sense to delete this tweet. Thanks.

[2016-06-30 18:36] GalenWright commented on #40
I'm talking about the link to the participant application i.e. tiny.url/hackseqpart

[2016-06-30 18:40] minisciencegirl commented on #40
Ahh thanks. Old tweet deleted and new link added.

[2016-06-30 18:42] GalenWright commented on #40
Great, thanks

[2016-06-30 18:50] #40 closed

[2016-07-01 01:03] sjackman commented on #6
[Updated cost calculator estimate](http://calculator.s3.amazonaws.com/index.html#r=PDX&s=EC2&key=calc-98B78ADC-E35B-45D2-B120-B953469DF96C)
10 m4.4xlarge and 13 m4.10xlarge with 16 1 TB hard drives and 7 2 TB hard drives

[2016-07-01 01:30] sjackman commented on #6
I have submitted the AWS credits application:

[2016-07-01 01:54] sjackman opened #41 "Install requested software"
+ [x] GATK https://github.com/hackseq/hackseq_projects_2016/issues/7
+ [ ] MOODS https://github.com/hackseq/hackseq_projects_2016/issues/6

[2016-07-06 17:09] GalenWright commented on #34
The Pharmacogenomics Research Network (PGRN) contacted the gmail account - they are hosting an ASHG satellite symposium (http://www.pgrn.org/ashg-2016.html) from the afternoon of the 17th to the 18th. They offered to share information about hackseq via their twitter account, which they did this morning. I offered to share details  about their event via our twitter too and I will send out a tweet f

[2016-07-06 21:34] #38 closed

[2016-07-07 00:04] minisciencegirl commented on #14
@santina: how are we doing on the number of participant applications?

I sent out a short & hopefully catchy email to the VanBUG announcement list (and can send another one next week). Do we want to blast UBC/SFU departmental email lists?

[2016-07-07 00:12] #31 closed

[2016-07-07 18:33] Brittdrog commented on #14
@minisciencegirl @santina - I just checked the applications and we have 34 people who have signed up.

We also have 86 people who signed up to the interest list (7 of which have applied already).
I think @GalenWright should email the interest list (those who haven't signed up yet) again on Monday to remind them of the deadline. I will also email the team leaders so that they can remind anyone that

[2016-07-07 18:38] GalenWright commented on #14
@Brittdrog sure, I'll do that.

The UBC Postdoctoral Association is also going to send out information about the application deadline in their monthly newsletter

[2016-07-07 18:49] ttimbers commented on #14
This is great! We are about a week away from the deadline, and worst case scenario we have 34 + 9 team leaders. That makes 43 participants in total, and so that's just under 5 people per team on average. This is a good number for a minimum and we still have some room to grow. Good work team!

[2016-07-07 19:07] ttimbers opened #42 "Steering Committee meeting on July 20th @6pm at the Genome Sciences Center"
@hackseq/steering_committee this is a reminder that we have another in person Steering Committee meeting coming up on July 20th @6pm at the Genome Sciences Centre.

I have started to draft an agenda for that meeting here: http://pad.software-carpentry.org/hackseq. The meeting notes from the last meeting have been archived here: https://github.com/hackseq/October_2016/blob/master/meeting_notes/2016

[2016-07-07 20:24] minisciencegirl commented on #14
@Brittdrog: Thanks!!  I will draft an email and send that out to the UBC/SFU department lists this afternoon.
Also thanks to everyone for retweeting! That's been generating a lot of traffic/ impressions to our Twitter account.
- Update 2016-07-10: also emailed out to various VanBUG partner institutes including the OICR, Compute Canada, Alberta Health, U Calgary, CDRD, BCCDC, U Manitoba and U Montr

[2016-07-08 18:01] ababaian commented on #42
I have a JISIS from 5 - 6pm so I'll be a little late

[2016-07-14 22:42] minisciencegirl commented on #34
Michelle (undergrad secretary for UBC CS department) sent me the following message:

#

Hi Amy,

I’ve put the info on our ugrad website but given that it’s summer, the timeline of choosing a project by July 15 is too short.  Is it possible to extend it?

Thanks,
Michele

#

I know we talked about potentially extending the deadlines for in-town applicants. What's everyone's thoughts on this?

[2016-07-14 22:49] ttimbers commented on #34
I think we already have lots of participants (what are the current numbers @santina?) so I am not in favour of extending the deadline. But my opinion can certainly be overruled if I am not with the majority...

[2016-07-15 06:34] santina commented on #34
Hey @ttimbers, we have 62 applicants so far!  Out of that, we have ~8 people applying for a travel award.

@minisciencegirl , I don't see any harm in leaving the application form opened until July 18, since based on an email thread, Shaun won't have time to look at it until then anyway. We won't announce it to everyone, but I'm changing the date the application form.

[2016-07-21 00:06] ababaian commented on #42
Running late with JISIS 0_0 Sorry don't know if I can make the beginning of themeeting

[2016-07-22 00:08] #34 closed

[2016-07-22 00:09] #14 closed

[2016-07-26 01:09] #37 closed

[2016-07-26 01:09] #36 closed

[2016-07-26 01:12] adrisua commented on #25
@brunogrande @ttimbers Which one do you think we could use? Could we just add the link to our website or do we want to work more on it? @ababaian

[2016-07-26 01:13] #26 closed

[2016-07-26 16:43] ababaian commented on #25
I'll start compiling a 'participant resources' let me know which thing you guys want.

[2016-07-26 16:48] ababaian opened #43 "Participant Resources"
I'll be putting together a resource page for participants. The idea that before/during/after if there are any resources which participants need (info sheets, maps etc...) then they can refer to a single place and find all of them. I'll leave this up as ongoing development.

- Code of Conduct from the other issue (once decided)

[2016-07-28 03:17] adrisua commented on #43
@Brittdrog Would you mind adding here the wonderful map you did :) Thanks!

[2016-07-29 04:44] ttimbers commented on #25
I'm good with either code of conduct, but maybe let's go with the Mozilla Science one? I think the Software Carpentry one was written with the focus of a workshop setting, while I think the Mozilla one might be more general about collaborative work and coding?

[2016-07-29 04:46] ttimbers commented on #25
Actually, under closer inspection they're both very similar, so either would work. I have no preference.

[2016-07-29 04:56] Brittdrog commented on #43
@adrisua - sure here is the [map](https://www.google.com/maps/d/edit?mid=1sZaegrYoiuYdD3Ls1Plk7QADPoA)
If you click on the two venue there are some links to accommodation.

[2016-07-29 17:37] BrunoGrandePhD commented on #25
Indeed, the SWC and Mozilla CoCs are very similar. If you need a tie-breaker, I would go with SWC's CoC because it attributes where it obtained the text (at the bottom).

[2016-08-03 21:53] Brittdrog opened #44 "Steering Committee Meeting August (Aug 17th) @5pm at the Genome Sciences Centre"
@hackseq/steering_committee - do we still have an in person Steering Committee meeting scheduled for this evening (Aug 3rd) @6pm at the Genome Sciences Centre?

[2016-08-03 23:17] ababaian commented on #44
I'll be able to make it.

[2016-08-03 23:26] minisciencegirl commented on #44
I have a really bad cold and won't be able to make it.

What's on the agenda today? I thought the plan was we would only meet if we need to debate the travel awards? @adrisua

[2016-08-03 23:38] adrisua commented on #44
I wont be able to make it today. @santina @sjackman @brunogrande Would you like to meet today and discuss the participant form and/or project-participant pairing? I am waiting to hear from the ASHG about the travel awards and will contact the participants that applied for the award.
1. Samantha Kohli (ASHG membership: 350078, points = 15)
2. Ritu Chavi (not a member but registered for the conferen

[2016-08-03 23:39] #42 closed

[2016-08-04 00:09] sjackman commented on #44
I'm able to meet. I haven't yet had a chance to look at the project participant pairing. If we had nothing else signifiant to discuss, we could look at that together in the meeting. We could also cancel the meeting if it's not needed and that's other folk's preference.

[2016-08-04 00:11] adrisua commented on #44
As for our next meeting, would August 24th work for everyone? @ttimbers @cloucks Items to discuss then would be the agenda for the event, awards, volunteers, logistics.

[2016-08-04 00:15] ababaian commented on #44
Personally I'm gone Aug 19 - 28

[2016-08-04 00:17] sjackman commented on #44
I'm available Wed Aug 24.

[2016-08-04 00:27] Brittdrog commented on #44
@GalenWright and I can make the meeting this evening, but have a lab function on the evening of the 24th so won't be able to make that meeting.

From our last meeting items that need to be completed in the near future are:
- Get confirmation that all participants are attending
- Assign participants to teams
- Get approval of teams from team leaders
- Tell participants what teams they have been ass

[2016-08-04 00:54] GalenWright commented on #44
Seeing as we don't have a unanimous decision and it looks like not many of us can make it today, maybe we should call it off and send out a doodle to decide on when the best time for our next meeting is. I can do this tomorrow if necessary

[2016-08-04 00:57] BrunoGrandePhD commented on #44
I'm available to meet on August 24th. I talked with Shaun and we agree that we don't really need a meeting tonight, as we were able to rank the participants for the travel awards.

[2016-08-04 01:06] Brittdrog commented on #44
OK perfect! @santina will you contact the participants in the meantime and get them to confirm that they are attending so that we can get started on assigning participants to teams? What are we doing about informing travel award applicants of the results of the travel awards? Will this be included in the confirmation of attendance email or will it be a separate email?

[2016-08-04 16:43] BrunoGrandePhD commented on #25
@ttimbers @adrisua: Are we going with the Software Carpentry code of conduct? I want to include a question in the confirmation of attendance form (see hackseq/October_2016_private#23) that makes participants acknowledge the code of conduct.

@ababaian: If there is no debate this morning, could you add the code of conduct to the website this afternoon? Thanks!

[2016-08-04 17:27] GalenWright commented on #44
@hackseq/steering_committee I have created a doodle poll for the next meeting:
http://doodle.com/poll/eucqzx46ezen7q3k
Seeing as we didn't meet yesterday, I think we should try and meet sooner, rather than later this month. Please complete the poll by Sunday evening so that we can finalize the date/time. Thanks

[2016-08-04 17:44] BrunoGrandePhD commented on #25
@ababaian: Preferably, include the entire text on our website, including the attributions at the bottom and cite where it came from. This way, it looks more official. It also allows us to update the email in the text to our hackseq Gmail account.

[2016-08-04 17:45] ababaian commented on #25
if it's all the same I think the Mozilla one is more clear. I've started the participants page at www.hackseq.com/participant-resources and code of conduct is online at www.hackseq.com/conduct

[2016-08-04 18:31] #25 closed

[2016-08-05 00:33] Brittdrog commented on #43
@ababaian - thanks for adding the map to the participant resources. Can you also add a link to accommodation options near UBC campus (http://suitesatubc.com/#
http://triumfhouse.ca/non-triumf-lab-ubc-rates.php)?

[2016-08-05 10:55] ttimbers commented on #44
Hi all, just getting back from vacation. Although I'm still away in Ontario for a wedding this weekend and will be back in Vancouver on Tuesday. Will complete the survey before Sunday and be able to better help with things when I am back in town.

[2016-08-09 00:37] GalenWright commented on #44
I looked at the meeting poll and the best time/date for everyone is Wed Aug 17th at 5pm. See you all then

[2016-08-09 13:45] DCGenomics commented on #44
Will drop in on hackpad for a few.

You guys are awesome!

Ben

[2016-08-12 23:59] adrisua opened #45 "Volunteers"
@hackseq/steering_committee Some people have asked me about ways to contribute and we discussed some of the options during our last meeting. I created a form so we can direct people to it and post it on the website [form](https://docs.google.com/forms/d/13eTIH2JWnY3NUC8fpHQT4RedsAaUPx5O2pinGm-gnr0/edit) Please edit it or make comments here. Thanks!

[2016-08-13 16:43] BrunoGrandePhD commented on #45
I suggest adding a section for mentors to specify topics they can be mentors for.

[2016-08-13 19:54] adrisua commented on #45
@brunogrande would that be an open question? or do you have ideas about specific topics they could help with?

[2016-08-13 20:09] BrunoGrandePhD commented on #45
Oh, good point. What about listing the project titles (and link to the longer descriptions on GitHub)?

[2016-08-13 22:16] BrunoGrandePhD commented on #44
@ttimbers, could you set up the agenda for the meeting on Wednesday? Once you do, could you add the following items to the agenda? Thanks!
- Discuss turning down Chipotle as a food sponsor (see discussion in hackseq/October_2016_private#20 for more details).
- Brainstorm events that would have had food sponsors.

[2016-08-13 22:34] ttimbers commented on #44
Will do!

[2016-08-13 23:02] brunogrande opened #46 "Fix link on 10X Genomics image on partners webpage"
@ababaian: I noticed that the 10X Genomics image on our [Partners](http://www.hackseq.com/partners/) webpage linked to Ecoscope instead of 10X Genomics. Could you fix this? Thanks!

[2016-08-14 22:22] ababaian commented on #46
Done

[2016-08-14 22:22] #46 closed

[2016-08-15 22:19] adrisua commented on #44
@ttimbers Would you mind also adding [the volunteer/mentor form](https://github.com/hackseq/October_2016/issues/45) to the agenda? Thank!

[2016-08-15 22:47] adrisua opened #47 "Website"
@ababaian Would you mind adding the [logo](https://tourismvancouver.app.box.com/v/BAH20Logos/1/6602782969/53733669713/1) of Tourism Vancouver in the Megabase section? Thanks!

[2016-08-15 22:49] adrisua commented on #47
@ababaian also the [one](http://women.acm.org/sites/default/files/data/ACMW-hi-res-logo.jpg) for ACMW in the Kilobase section. Thanks!

[2016-08-15 22:50] Brittdrog commented on #47
@adrisua do we need to add GA4GH ($3000) and AWS (I think @sjackman mentioned that they would sponsor the social)?

[2016-08-15 22:52] GalenWright commented on #47
Great news about the new sponsorship @adrisua. I'm waiting for the GA4GH to send me there high res logo - I will let @ababaian know when they do

[2016-08-15 22:54] adrisua commented on #47
Sure. GA4GH could be in the kilobase or megabase section. I'm not sure about AWS. I sent them an email from the  hackseq account a couple of weeks ago but they haven't replied. If they are providing credits, we should add them anyways.

[2016-08-15 22:58] GalenWright commented on #47
Cool - I think we should put the GA4GH in the Megabase section seeing as US$3000 is ~CA$3900, which is close enough to our $4000 threshold, especially given their additional involvement with the event

[2016-08-15 23:22] ababaian commented on #47
@Adrisua Is it the  "20 year Be a Host" logos I should use?

Assuming that's the logo it's done.

[2016-08-15 23:50] sjackman commented on #44
Hi, all. I'm back from Michigan. I've accepted a list minute invitation to go camping, so I'll miss the meeting this Wednesday. Sorry for the short notice. Now that we have the confirmed list of participants, I'll figure out the team assignments.

[2016-08-15 23:54] #47 closed

[2016-08-16 16:36] BrunoGrandePhD commented on #44
I'll be at the GSC, so we can still hold the meeting there.

[2016-08-16 18:07] sjackman commented on #44
@ttimbers Please add to the agenda the possibility of publishing the project reports to the F1000Research Hackathon channel. See https://github.com/hackseq/October_2016_private/issues/27

[2016-08-17 16:39] ttimbers commented on #44
@hackseq/steering_committee this is a reminder that we have a meeting **today** at **5pm** at the Genome Sciences Centre. I think we need to call Bruno, not Shaun to get in? Bruno, can you please put your contact number on the planning etherpad or send it to us all via email?

Meeting agenda has been drafted, and lives here: http://pad.software-carpentry.org/hackseq. Please feel free to add anythi

[2016-08-17 17:33] BrunoGrandePhD commented on #44
I sent an email to everyone with my phone number. Text me when you arrive at the GSC.

[2016-08-17 19:45] cloucks commented on #44
Hi everyone, I had planned to make this meeting, but I am feeling overwhelmed with preparation for my thesis defence coming up at the end of the month and won't be able to make it.

[2016-08-18 02:18] #44 closed

[2016-08-18 02:19] BrunoGrandePhD commented on #23
I'm going to go through the original participant form and contact anyone who offered to lead a workshop.

[2016-08-18 02:55] adrisua commented on #45
@hackseq/steering_committee Here are the forms for [mentors](https://docs.google.com/forms/d/18atCF4crckgk4c19r4rDD0P-Vo_TZrVKpILTclQ8ATg/edit) and [volunteers](https://docs.google.com/forms/d/13eTIH2JWnY3NUC8fpHQT4RedsAaUPx5O2pinGm-gnr0/edit). Suggestions will be greatly appreciated (respond by Sunday please).

[2016-08-18 04:37] BrunoGrandePhD commented on #29
Could the Mosh mobile shell be added to the list of software included with the Docker image? It would be a nice safeguard in case of crappy Wi-Fi in LSI.

[2016-08-18 04:40] minisciencegirl commented on #45
Both forms look great to me! Let me know when you have the final version and I can tweet the forms and email out to VanBUG list.

[2016-08-18 16:29] Brittdrog commented on #45
@adrisua I think the forms look great. I just added form notifications. It may be nice to use the hackseq logo as the header, but not essential.

[2016-08-18 16:51] ababaian commented on #45
I spruced up the headers a bit with the 'code' background. Bring it in line with the website a bit better imho.

We should include a statement of what a 'mentor' is and an estimate about time commitment for each Mentor/Volunteer so people know what they're signing up for.

"Mentors are specialists who offer our teams advice and guidance on their projects. Time commitment depend on your interest bu

[2016-08-19 22:19] adrisua commented on #45
@ababaian would you mind posting them on the website and let @minisciencegirl know. Thanks!

[2016-08-19 22:56] ababaian commented on #45
Done with the volunteer form. Shouldn't we 'invite' for the Mentors?

[2016-08-19 23:22] sjackman commented on #6
We have been awarded $7500 (30 codes of $250 each)!

[2016-08-19 23:27] minisciencegirl commented on #6
Well done @sjackman!! Go Team!!

[2016-08-19 23:28] minisciencegirl commented on #45
@ababaian: Maybe we can do both? I will schedule the tweet.

[2016-08-19 23:44] ababaian commented on #45
Done

[2016-09-06 02:24] BrunoGrandePhD commented on #45
I was about to share the volunteer application form with someone and realized that it requires a Google account because the "Limit to 1 response" option is enabled. I think this unnecessarily limits who can volunteer or mentor at Hackseq. I'm going to disable this option for both forms, because it's easy to remove duplicates afterwards and we haven't imposed this limit so far. If anyone objects, p

[2016-09-08 17:19] BrunoGrandePhD commented on #6
@sjackman: Are team leaders aware that they will be able to use AWS during Hackseq? If not, I can include this in an email to team leaders describing what they can do prior to Hackseq (related to hackseq/October_2016_private#29).

[2016-09-08 23:16] sjackman commented on #6
Good catch. We haven't yet told the team leaders about AWS. The team leaders definitely need to create an AWS account in advance of Hackseq, as they require authentication by a text / phone call and take a few days to approve. About half of the team leaders said they didn't need any HPC services. I would encourage them to create an AWS account just in case. We're also going to create BCGSC ORCA Do

[2016-09-09 00:56] DCGenomics commented on #6
Have aws account

On Sep 8, 2016 7:16 PM, "Shaun Jackman" notifications@github.com wrote:

[2016-09-09 23:22] santina opened #48 "Confusing project numbers"
Some of you might have noticed, but just for the record, it's kind of funny.

Our **project numbers** and **issue numbers** are the complete opposite. I.e. Project 10 is Issue 1, Project 9 is Issue 2, etc. See here: https://github.com/hackseq/hackseq_projects_2016/issues)

I have used the title (**project numbers**) when we were getting participants preference on the project in the participant for

[2016-09-09 23:33] santina commented on #48
Okay, just changed the numbers here to bullet points. :P  Not too bad.
![screen shot 2016-09-09 at 4 31 45 pm](https://cloud.githubusercontent.com/assets/1039839/18405894/1cb1258a-76ab-11e6-9610-327859b5f702.png)

[2016-09-09 23:33] #48 closed

[2016-09-12 18:21] brunogrande opened #49 "Steering Committee Meeting (Mid-September)"
Based on the Etherpad, we still need to schedule a meeting for mid-September. Since we've held the past few meetings on Wednesday evenings, we can try skipping the Doodle poll and see if most of us can make it ~~this Wednesday at 6:00 pm.~~ Now trying for Wednesday, September 21st at 6:00 pm.

**Comment below with your availability.**

@ttimbers: I'll let you take care of archiving the current con

[2016-09-12 18:25] ttimbers commented on #49
@brunogrande - thanks for taking charge on this (I've been overwhelmed with the students starting last week). Will take care of the archiving now.

I have to be at home that evening caring for a sick animal (my cat had surgery this week), but I can attend remotely via Skype/Google Hangout.

[2016-09-12 18:26] BrunoGrandePhD commented on #49
I'm aware that @minisciencegirl can't make it, as she's in England.

@minisciencegirl: Any chance you can Skype in (which would be at 10:00 am on Thursday)?

[2016-09-12 18:26] BrunoGrandePhD commented on #49
@ttimbers: I can only imagine the crazy rush with kicking off a new program. Happy to help!

[2016-09-12 18:27] BrunoGrandePhD commented on #49
I'm also aware that @santina has a council meeting with iGSN and won't be able to make it.

[2016-09-12 18:33] ababaian commented on #49
Can't make this Wed :( This week is a bit crazy. I'm also gone and out of contact Sept 26th - Oct 8th so if there are website things that need to be done before then please let me know.

[2016-09-12 18:56] ttimbers commented on #49
2016-08-17 meeting notes have been archived [here](https://github.com/hackseq/October_2016/blob/master/meeting_notes/2016-08-17.md). An agenda has been started for the next meeting. Feel free to add/edit it. It lives [here](http://pad.software-carpentry.org/hackseq).

[2016-09-12 19:03] GalenWright commented on #49
Hey, @Brittdrog and I also can't make it this week - we have an application due this Thursday. Seeing as most of us can't make it, how about moving the meeting to the following week?

[2016-09-12 19:10] BrunoGrandePhD commented on #49
@hackseq/steering_committee: Comment below if you are available to meet next week on Wednesday, September 21st at 6:00 pm. Thanks!

I would be able to make it.

[2016-09-12 19:10] BrunoGrandePhD commented on #49
@ttimbers: Thanks!

[2016-09-12 19:14] GalenWright commented on #49
21 Sept works for @Brittdrog and me

[2016-09-12 19:18] sjackman commented on #49
I'm not able to attend Wed Sep 21 at 6pm. I rehearse with my choir on Wednesday evenings at 7pm.

[2016-09-12 19:27] ababaian commented on #49
I can make time any evening next week except for Thursday.

[2016-09-12 19:37] cloucks commented on #49
I am available any evening next week.

[2016-09-12 19:57] BrunoGrandePhD commented on #49
@sjackman: Would starting the meeting at 5:30 pm give you enough time to make it for your rehearsal? If not, how about 5:00 pm?

[2016-09-12 20:13] sjackman commented on #49
I'd have to leave at six o'clock. Either start is fine, depending on how much time people need to get here. I'll leave when I need to and everyone else can stay.

[2016-09-12 21:21] minisciencegirl commented on #49
I can make it next Wednesday. But I would prefer if we could meet at 5:30pm so that I have enough time to get from UBC to Genome Sciences.

[2016-09-12 21:28] BrunoGrandePhD commented on #49
Okay, let's go with 5:30 pm to give everyone time to arrive. We'll discuss things relevant to Shaun in the first 30 minutes before he leaves.

[2016-09-13 01:42] santina commented on #49
I'm also available next Wednesday. Thanks!

[2016-09-13 04:51] adrisua commented on #49
I'm also available on the 21st

[2016-09-13 05:35] BrunoGrandePhD commented on #49
It seems like a majority of us can make it on **Wednesday, September 21st at 5:30 pm**. Let it be known that the date and time is now official! See you all next week!

[2016-09-15 23:29] adrisua opened #50 "New sponsor on the website"
@ababaian would you mind editing the logo from affymetrix? Thanks!

[2016-09-18 17:20] ttimbers opened #51 "Vancouver Hacky on Fri Oct 21:"
Hi @hackseq/steering_committee

FYI - there is going to be a Vancouver Hacky on Fri Oct 21 @ 5pm at a pub near Cambie & Broadway (Original Joe's).

There's a ton going on in the computational research community in Vancouver in Sept/Oct (4 SWC workshops, hackseq, the UBC R & SFU SciProg study groups have kicked off their fall semester sessions, the UBC Master's of Data Science program has started)

[2016-09-19 00:27] santina commented on #45
@brunogrande  I fixed the links. Thanks for pointing it out.

[2016-09-19 17:00] ababaian commented on #50
Done

[2016-09-19 17:00] #50 closed

[2016-09-20 00:01] sjackman commented on #49
I wasn't able to arrange childcare for the meeting this Wednesday. Sorry. I'll participate remotely if someone can Facetime me in.

[2016-09-20 01:00] ttimbers commented on #49
@sjackman - we can do that!

[2016-09-21 23:36] ttimbers commented on #49
@brunogrande - what time is the meeting today? In the issue it says both 5:30pm & 6:00pm? On the etherpad it says 5:30pm? So I assume 5:30pm?

[2016-09-22 00:34] sjackman commented on #49
I'm ready to Facetime in whenever you're ready.

[2016-09-22 00:36] ttimbers commented on #49
I'm fairly useless with facetime - gonna try to get you on a Google Hangout

[2016-09-22 00:41] sjackman commented on #49
I just tried calling you with Facetime and Google Hangouts without any luck. Try calling me?

[2016-09-22 00:42] ttimbers commented on #49
@sjackman I failed at Google hangouts and facetime - do you have skype?

[2016-09-22 00:42] ttimbers commented on #49
no - the internet is terrible

[2016-09-22 00:43] sjackman commented on #49
Liz is here now. I'll come by in person. I'll have about fifteen minutes before I have to leave.

[2016-09-22 04:37] santina opened #52 "Volunteer introductions"
Hello! Thank you so much for expressing your interest in volunteering for hackseq. It's gonna be busy and bustling.

Things we'll mostly likely need assistance with:
1. Setting up, for example, carrying food and moving furniture
2. Assist people with technical support. There will be some people who are unfamiliar with Git, command line, and other tools.
3. Administration and logistics, for example

[2016-09-22 04:40] santina commented on #52
To start, I'm Santina, a bioinformatics master student. I do all my work on the computer, so I always look for opportunities to look away from screens!  I enjoy hiking, eating, playing games and learning new things.  Ask me questions about things to do in Vancouver! ☀️

I can help out with general logistics and ramp up any people who need a refresher or a crash course on things like command line,

[2016-09-22 04:53] oneillkza opened #53 "Reception Mon Oct 17"
@adrisua and/or @sjackman, Angel was asking me if there was an alternate way of getting in touch, since you hadn't replied to his email from Sunday as yet. I've sent an email suggesting some options for a reception, which I'm hoping might take some of the load off that for you guys. Anyway,  if you could get back to him, that would be awesome!

[2016-09-22 06:41] sjackman commented on #53
See https://github.com/hackseq/October_2016_private/issues/38 for e-mail communication so far.

[2016-09-22 07:17] oneillkza commented on #53
Awesome! I can't read that, since it's private, but as long as you got back to him!

[2016-09-22 14:56] LeungConnie commented on #52
I'm Connie, a PhD student studying obesity and diabetes.

I can help with Administration and logistics!

[2016-09-22 15:30] sjackman commented on #53
I haven't responded to Angel yet. I'm going to call Steamworks first and find out what the minimum spend is for the evening of Mon Oct 17. Is the head count ~100 people?

[2016-09-22 16:14] eringill commented on #52
I'm Erin, a research associate in the Microbiology and Immunology department at UBC. I analyse RNA-Seq data and clinical metadata to identify potential drug targets and study factors that are indicative of disease severity.

I can assist with any and all of the items listed above. Specifically, my computational expertise lies in the use of command line, R and python.

[2016-09-22 17:24] sjackman commented on #53
I spoke with Sujitha at Steamworks. The largest room is booked for that evening.

The Harbour room standing capacity is 75. The Wine room standing capacity is 50. The rooms are adjacent and connected. The standing capacity of the two rooms is 125.

The Harbour view room minimum spend is $2000. The Wine room minimum spend is $800. The total minimum spend is $2800.

[2016-09-22 17:47] adrisua commented on #53
Yesterday we decided to have the social in a pub, instead of hosting it at LSI. @ttimbers is checking options on campus. I will email Angel to let him know that we are looking for venues. Thanks @oneillkza!

[2016-09-22 18:01] oneillkza commented on #53
No worries!

Yeah, looks like Steamworks will be quite a bit more than Angel's budget, so wouldn't work unless you guys could get matching funding. On this note, the money Angel can put down will be enough for a drink or two each, but not really for food. So unless there is additional money to put into this, it'll have to be an after-dinner event. (If you can get more funding, I'd suggest doing so

[2016-09-22 18:10] adrisua commented on #53
@oneillkza We don't have additional funding for this. Do you have more info about catering options that we could use at LSI? If we go with LSI, we will have to start applying for a liquor license soon @minisciencegirl @ttimbers thoughts?

[2016-09-22 18:29] oneillkza commented on #53
I'll copy/paste from my email in the other thread:

_Option 2_:

Have a catered reception with bar service at the LSI at UBC
http://catering.ubc.ca/our-menus/beverage-menu/

Advantages: On-site for the hackathon, minimal effort

Disadvantages: Similar to Steamworks re quantities; bar service may
actually end up more expensive than Steamworks

_Option 3_:

Beer and pizza at LSI at UBC, with volunte

[2016-09-22 18:40] sjackman commented on #53
The minimum spend is before tax (7%) and gratuity (18%), so the minimum spend is $3,500. If we have 100 people, $3500 is $35 per head. With AWS contributing $10 per head, can we ask each participant to pay $25 for dinner+drinks? That'll meet the minimum spend, and would be enough for one drink + appies (maybe enough for a meal) per person.

[2016-09-22 18:50] sjackman commented on #53
A meal's worth of appies (10 pieces per person) is roughly $25 + 25% = $31.25 per head.

[2016-09-22 19:19] oneillkza commented on #53
Yeah that would work. I don't believe Steamworks would do a le carte for 100 people, but they do have a reception menu, which would be effectively the same thing (about 10 canapes per person for $25 each)

http://steamworks.com/sites/default/files/SW_Reception_Menus-NEW.pdf

You could then do the drinks ticket thing -- first drink is on Amazon, cash bar after.

One minor downside is that you'd alm

[2016-09-22 20:40] minisciencegirl commented on #53
@adrisua: Applying for liquor license could be done up until a few days before the event. However, purchasing enough beer and serving beer for 100 people could be challenging. @oneillkza for VanBUG, I think we typically deal with ~40-50 people on average, with only about 20 - 30 people drinking. I wonder if we would need more than 2 servers to man this event properly?

If we are going with the Ste

[2016-09-22 20:51] sjackman commented on #53
@oneillkza Surprisingly, I believe Steamworks will handle a cash bar for 100. Would have to confirm.

Sujitha Shivajothi at Steamworks wrote…

[2016-09-22 20:52] sjackman commented on #53
Sujitha Shivajothi at Steamworks wrote…

[2016-09-22 20:55] sjackman commented on #53
@minisciencegirl wrote…

:+1:

My guess is that a number of Hackseq people may stay downtown if that's where there hotel is for the ASHG meeting.

[2016-09-22 21:02] oneillkza commented on #53
@minisciencegirl Yep, this crossed my mind too. For the year end party we've tended to have 2 servers, though we did tag team it a bit, and the numbers were closer to 50. That said, I have helped serve at a departmental holiday party with about 100 attendees, where most people were drinking. The way we did that was to have 3-4 servers for the first hour (to deal with the initial drinks rush), afte

[2016-09-22 21:12] sjackman commented on #53
I like Amy's suggestions. Let's create an Eventbrite event, e-mail the participants pointing out that there is limited room, sell tickets at $25 CAD (?) for food and one drink, and see how many responses we get. If we break 75 people in say less than a week, we can book the other space (if it's still available). If not, cap the event at 75 people. The event coordinator at Steamworks may give us fi

[2016-09-22 21:54] oneillkza commented on #53
ASHG is being held at the Convention Centre, so most people will likely be in nearby hotels, or hotels with easy Skytrain access.

[2016-09-22 22:02] adrisua commented on #53
@minisciencegirl @cloucks Would you mind setting up the eventbrite and advertise?

[2016-09-23 00:20] adrisua opened #54 "Logistics"
[Here](https://docs.google.com/spreadsheets/d/1od5J4I_Rbtqx-A4PEJOmDW7EZfqPXumYGg2iiibSv1U/edit#gid=501875787) is a list of things we need including food. Feel free to edit.

[2016-09-23 16:57] adrisua commented on #54
@Bruno Would you be able to contact Raymond from IT services (604.822.2008) today or on Monday to check our options with wifi? This is what he wrote to Mandeep from Ecoscope:

Thanks!

[2016-09-23 17:10] adrisua commented on #53
I was thinking that $25 might be steep for students. Maybe we could have student tickets for $15?

[2016-09-23 17:55] oneillkza commented on #53
This is true, but the only ways to do that (if it's at a bar) would be:
1.  Find external funding to cover the shortfall (or increase non-student tickets to $35?)
2. Make all the tickets $15, but no free drink tickets. (ie Amazon subsidises the food instead of the drink).

[2016-09-23 21:35] BrunoGrandePhD commented on #54
I requested access to the Google document.

I also contacted UBC IT via the phone. They offered three possible solutions:
- Have users use ubcvisitor (but this network has limited bandwidth and some ports are closed).
- Have UBC IT create temporary accounts fort ubcsecure (not feasible for 100 users).
- Have UBC IT create a temporary network just for Hackseq for the duration of the event.

We woul

[2016-09-23 21:39] GalenWright commented on #54
Thanks @brunogrande - I saw that you requested access via google and changed the sharing preferences and everyone should be able to edit now

[2016-09-24 18:25] sjackman commented on #53
Jasleen Grewal wrote…

I'll contact Lindsay and get pricing for Rogue Wet Bar.

[2016-09-24 18:33] sjackman commented on #53
That doesn't unfortunately reduce the ticket price. The minimum spend is $2800 + 25% = $3500, less the $1000 AWS contribution is $2500, which is $25 per person based on 100 people. The minimum spend and ticket price is not affected by whether we spend it on food or drink.

[2016-09-24 18:33] sjackman commented on #53
Charge $20 for students and $30 for non-students? A fifty-fifty mix of both means we'd break even.

[2016-09-25 01:03] minisciencegirl commented on #53
All of this is dependent on whether we can sell 100 tickets. If we don't, we will still be stuck with the $2500 bill.
As much as I am not keen on Option 3 due to logistic complications, this may be our only financially viable option.
@oneillkza: do you know any other person with SIR who you can potentially persuade to help out?

[2016-09-25 15:41] adrisua commented on #54
@brunogrande Thanks! Do you think it would be possible to inquire for a reduced fee? Ecoscope is one of our main partner and almost half of us are affiliated with UBC.

[2016-09-25 17:39] ttimbers commented on #53
If we are thinking downtown, near the convention centre is good, we held a student conference social last year for drinks & food for 100 for $2500 from Mahony & Sons (Stamps Landing location, at convention centre).

For $2500, we got 50 beer, 50 wine and 50 orders of canape menu A (below).

![screen shot 2016-09-25 at 10 37 45 am](https://cloud.githubusercontent.com/assets/6865016/18817079/33e9f94

[2016-09-25 18:12] #49 closed

[2016-09-25 18:16] ttimbers opened #55 "Final hackseq steering committee planning meeting"
We need to plan the next and final hackseq steering committee planning meeting! We will hold it at the LSI in the atrium so that we can see that space we will be in at the event. Please fill out this survey so we can figure out the best possible time for all: http://whenisgood.net/jxrnhjk

To see survey results, use the following results code: r43nh5r

[2016-09-25 18:17] ttimbers commented on #55
@hackseq/steering_committee, please fill out this survey: http://whenisgood.net/jxrnhjk

[2016-09-25 18:18] dfornika commented on #52
Hi, I'm Dan. I work at Fusion Genomics, where I work on infectious disease assay development. I split my time between the wet lab and computation. I'm currently developing a web app to track the production of our sequencing libraries.

I'll be participating in HackSeq on Team 9. Outside of my team responsibilities, I'll be happy to help out with setup and admin stuff. I've volunteered at Software

[2016-09-25 18:40] lstmemery commented on #52
Hey there. My name is Matthew Emery and I'm a graduate student in Data Science, former Python software developer with a background in biochemistry.

I can help with set up and tech support.

[2016-09-25 18:42] ttimbers commented on #45
@santina - I have contacted the Vancouver Software Carpentry Community, the UBC R study group, the SFU SciProg group and the UBC MDS students to ask for volunteers to help our participants with any technical issues on the morning of Oct 15th. If any are interested, I directed them to fill out the volunteer form and introduce themselves on the volunteer introduction issue  you opened.

@santina - a

[2016-09-25 18:50] ttimbers opened #56 "Hackseq Steering Committee member schedule during hackseq"
@hackseq/steering_committee - please fill out your availability during hackseq (i.e., when do you promise to be there to help out):

### Steering Committee Member availability during hackseq
| hackseq Steering Committee Member | Sat AM  |  Sat PM | Sun AM | Sun PM | Mon AM | Mon PM |
|----------------------------|--------|---------|---------|---------|----------|---------|
| Artem Babaian  | Y | Y

[2016-09-25 19:20] ttimbers opened #57 "Brainstorm questions/ideas for voting form for people's choice award"
- Have participants rank top 5 projects for best overall (People's choice award)
- We award 1st place and a runner-up based off these rankings

[2016-09-25 23:52] rollingDough commented on #52
Hi everyone, I'm Minh. I'm an undergraduate student major in Management Information System. I look forward to working with all of you!

[2016-09-26 04:31] BrunoGrandePhD commented on #54
@adrisua: I will inquire about a reduced as fee as soon as UBC IT respond to the support ticket. As far as I can tell, this hasn't happened yet.

[2016-09-26 04:32] BrunoGrandePhD commented on #54
Note to self: compile the list of food restrictions based on the responses to the Confirmation of Attendance form.

[2016-09-26 04:54] sjackman commented on #53
My preference is a downtown venue if we can make that happen. Please do get a quote from Mahony and Sons, and I'll get a quote from Rogue tomorrow.

[2016-09-26 06:25] ananab commented on #52
Hi guys. My name is Kai He and I'm currently a Master of Data Science student. My undergraduate study was Biochemistry with a Minor in Math.

I can help with setting up, tech support, and signing in.

[2016-09-26 08:48] zhaoxiaofei commented on #52
Hi guys. I am XiaoFei. Please don't be upset if you will mispronounce my name :D I am working at Fusion Genomics as a computational biologist. For my work, I am developing computational tools for the typing of infectious diseases, assisting in the development of web portal for the management of data and projects, and analyzing NGS data.

I can help with tech support, set up of coding environment,

[2016-09-26 15:36] irobii commented on #52
I'm Ka-Kyung, a postdoctoral fellow in Translational Genomics Informatics Lab at Severance Biomedical Science Institute. I'm doing translational disease-mutation analysis, visualization, and integration for multiple investigators and research projects with NGS data. I'm currently focusing an integrative analysis of whole genome and whole transcriptome sequencing in inherited brain disease.

I can

[2016-09-26 15:41] sjackman commented on #53
I wrote…

[2016-09-26 16:16] lfunderburk commented on #52
Hello everyone!

My name is Laura. I am currently a Co Op student working at BCCRC IT. I have taken workshops on Git, Command line and Python thanks to Software Carpentry and have experience setting up and providing people with tech support. I would be happy to provide both skills during this weekend :).

-Laura

[2016-09-26 23:49] santina commented on #56
If GA4GH is doing a one-day hackathon on the last day, then I'd be very interested in doing that. I'm also interested in attending some talks, but it depends on how much work we have.

[2016-09-26 23:58] santina commented on #45
@ttimbers  I think we have enough volunteers. I'm gonna close the volunteer form later this week before it gets hard to keep track of everyone. It's great that many people will be helping out!

[2016-09-27 00:01] sjackman commented on #53
Lindsay Mroch at Rogue wrote…

So long as we're happy with a max capacity of 80 people, both these venues look good:
[Rogue Gastown, The Platform](http://www.roguewetbar.com/gastown/group-events/the-platform), standing capacity 80, $1500 + 25% = $1875
and
[Rogue Convention Centre, Dining Room](http://www.roguewetbar.com/conventioncentre/group-events/dining-room), standing capacity 80, $1500 + 25%

[2016-09-27 00:05] sjackman commented on #53
I have seen _Rogue Gastown, The Platform_ in person. It's up a set of stairs looking down over the main restaurant. It's a nice space, but it looks like it may be more appropriate for a sit-down dinner, unless the tables can be moved.

I haven't seen _Rogue Convention Centre, Dining Room_ in person. From the photo it looks like a nice open space.

Does anyone work in Gastown who would be able to c

[2016-09-27 00:07] sjackman commented on #56
I'm leading a project so will be limited in how much I can help out during the main 9 to 5 times.

[2016-09-27 03:19] adrisua commented on #53
I think capacity of 80 is good.

If we sell tickets on eventbrite, is there an account we could use (maybe from VanBug) or do we have to create a new one? Another option would be using SCWIST's account but I would need to ask if that is possible.

[2016-09-27 03:27] adrisua commented on #45
@santina It would be great to start involving volunteers, specially those interested in helping out with logistics. What do you think would be the best way to ask them? For example, we need help looking for places that rent table throws.

[2016-09-27 03:29] sjackman commented on #53
Great. If we agree on the venue, we'll need about $1000 for the deposit. Do we have cash available?

[2016-09-27 04:12] oneillkza commented on #53
VanBUG unfortunately does not have an Eventbrite account -- you'll need to set one up yourselves or use the SCWIST account.

[2016-09-27 18:14] sjackman commented on #53
Lindsay Mroch at Rogue wrote…

- The _Rogue Convention Centre Dining Room_ standing capacity is 85 to 90, not 80 as I said earlier. $1500 + 25% = $1875
- The _Rogue Gastown The Platform_ can be combined with _Rogue Gastown East Side Lounge_ for a combined standing capacity of 115 with a private bar for $2200 + 25% = $2750. _The Platform_ alone has a standing capacity of 80.

The latter option is n

[2016-09-27 18:31] BrunoGrandePhD commented on #54
UBC IT responded to my ticket this morning.

My response:

[2016-09-27 18:37] sjackman commented on #53
I wrote…

Lindsay Mroch at Rogue wrote…

[2016-09-27 21:18] BrunoGrandePhD commented on #54
Here's a tabulation of food restrictions and allergies that we should be aware of when ordering food for catering. We should strive to accommodate the most common restrictions, and inform participants when we cannot accommodate their dietary restrictions due to logistical constraints.

**N.B.** Some participants checked multiple options, so there is some overlap between the rows of each table.

##

[2016-09-27 22:37] santina commented on #45
Idk, should we just add them to the organizer's slack channel? I don't feel like there has to be a distinction between the committee and the volunteers in the slack and GitHub discussion. I have asked them to take a look at the public repo.

It's better that we can come up with a list of tasks first.  We can open an issue for that first.

[2016-09-27 22:54] santina commented on #52
@irobii : You can stay wherever you want. The recommendations we gave on the website are places that are on UBC campus, so you can travel easily between where you're staying and hackseq's location. You can definitely arrange to room with someone as well :).  I'll be adding you to the hackseq channel so you can ask if anyone is still looking for accommodation!

@irobii  I'll also add you to the pro

[2016-09-27 22:56] daisieh commented on #52
Hi! I'm Daisie Huang and I'm a fairly frequent instructor for Software Carpentry. I usually teach Git and sometimes Python. I used to be a postdoc at UBC, working on phylogenomics in Populus. Currently I am a freelance scientific software developer and I primarily work for Dryad Digital Repository.

I would be happy to help with anything that needs doing!

[2016-09-27 23:01] santina commented on #52
Awesome! I've invited you guys to join the hackseq slack channel. Please also download the slack app on your phone (it'll probably prompt you if you open the invite link in the email on your phone). We'll be using that to communicate during the event. I'll be assigning the time slots in a bit.

[2016-09-28 00:32] santina commented on #45
@ttimbers, the volunteer sign-up form doesn't have an option for Monday PM for a list of availabilities, so I'll leave that one blank for now. We can either figure that out at the event or the people who are tagged, feel free to sign up for that slot.

Most people can do both categories of tasks. Since the first day is likely to be the busiest, it's good that we have many people.

I'm not super su

[2016-09-28 01:09] adrisua commented on #54
@irobii @eringill @ananab Thanks for offering your help before the event. We are looking into food and rental options. Here is a list of a couple of things we need help with so feel free to write your name on an item. Let me know if you have questions or ideas!

## Tasks

| Task description | Person in charge | Deadline |
| --- | --- | --- |
| Get quotes for the rental of 6 black table throws |  |

[2016-09-28 01:22] adrisua commented on #53
I asked if SCWIST could pay directly. We might need an invoice from them though. As for the eventbrite, I already asked if we could use SCWIST's account. Let's start brainstorming content (text and graphics). Let me know if you have ideas.

[2016-09-28 01:23] ttimbers commented on #53
So we are going with Rogue, yes (looks good to me too)?

[2016-09-28 02:00] irobii commented on #54
@adrisua I'm interested in "Determine the amount of pizza".
When should I do the task before the event? (Please let me know date and time.)

[2016-09-28 06:15] sjackman commented on #53
The _Rogue Convention Centre Dining Room_ sounds like the best venue if we're happy with a standing capacity of 90. Let's take a look at the menus, decide how much food we want to order, and determine the ticket price. Should there be enough food that this should be a complete meal? If so I'm thinking about $20 per ticket, which is $16 before tax and tip. That might be a bit on the light side, but

[2016-09-28 16:23] sjackman commented on #53
Here's a photo of _Rogue Convention Centre Dining Room_.

![rogue cc dining room](https://cloud.githubusercontent.com/assets/291551/18922370/2ba3219a-855d-11e6-8d2d-12e981e594e9.jpg)

[2016-09-28 17:54] BrunoGrandePhD commented on #54
I've tidied up the [**logistics spreadsheet**](https://docs.google.com/spreadsheets/d/1od5J4I_Rbtqx-A4PEJOmDW7EZfqPXumYGg2iiibSv1U/edit#gid=501875787) by consolidating everything into one sheet. I find it makes it easier to have a global view of what needs to be done. By the way, I've merely hidden the previous sheets; you can still see them in View > Hidden Sheets.

@adrisua: Do you want to meet

[2016-09-28 21:20] radaniba commented on #52
Hi
I am Rad, senior bioinformatician at bc cancer agency / UBC
Although I would like to help with all programming issues, which I would do with great pleasure, I think I will bring my camera and take pictures of this event which will take me a bit away from computers for the weekend :) if you need a photographer, am in :)

[2016-09-28 21:27] adrisua commented on #53
Eventbrite charges 3.5% of the ticket cost plus C$0.60 per ticket sold in Canadian dollars.

We have two weeks to sell 90 tickets at $20 each. We need a really good marketing strategy to push them. Maybe making someone famous to come?

[2016-09-28 21:28] adrisua commented on #53
SCWIST's bookkeeper wrote:

[2016-09-28 21:32] ttimbers commented on #53
This seems like us doing a lot of work to try to make a good event we don't really have the funding for... I don't think participants want to buy a ticket to an overpriced event (this seems like our options...). I don't mean to be a debbie downer, but I wouldn't buy a $20 ticket for a single drink and an appie or two...

Can we squeeze any more money out of our budget to reduce the ticket price? I

[2016-09-28 21:38] adrisua commented on #54
@irobii Awesome. The sooner the better. Would you be able to have that information for this Friday (October 30th before midnight) ?

[2016-09-28 22:04] santina commented on #52
@radaniba Yes!! We do need a photographer. Thanks for offering that :D

[2016-09-28 23:33] irobii commented on #54
@adrisua Ooops! I'm sorry. I should cancel the task for "Determine the amount of pizza". I'm currently outside of Canada and I'll arrive at UBC one day earlier before the event.

[2016-09-28 23:38] sjackman commented on #53
I'm hoping that most participants would want to come to the social on the last evening. Twenty bucks seems pretty fair to me for dinner and a drink. You'd spend that on dinner no matter where you ate in Vancouver. Twenty bucks per person would buy 5 minibugers per person (for example, we'd get more variety than just sliders), which to me seems like enough for a full meal. The minimum that we could

[2016-09-28 23:41] ttimbers commented on #53
I like the idea of a poll to the participants. I think that would really let us get a better handle on actual numbers. Some people just don't like pub events, regardless of the cost, and others might have personal/family/work obligations on a Monday night.

[2016-09-28 23:53] minisciencegirl commented on #53
Sorry to pipe in late here. I just called Joe at the Pit, who also manages Gallery. I know we are not keen on having it on campus, however both Pit and Gallery do NOT have a minimum spend.

For Pit, they can host up to 400 people. On Monday, there's Trivia Night going on. They would be willing to fence off an area just for the hackathon. At the Pit, there is only Pizza, but drinks cost $5 - $6. So

[2016-09-29 00:08] ananab commented on #54
@adrisua in the case of @irobii changing her plans, I can help with determining the amount of pizza needed

[2016-09-29 00:10] sjackman commented on #53
Both of these seem like good options. Nice find, Amy! If a lot of people express interest, do we want to preorder dinner? I'm afraid if we just come in unannounced and order 80 dinners, it could take hours to get the food out.

[2016-09-29 00:18] minisciencegirl commented on #53
That sounds reasonable. I could email Joe to see if we can have a preset menu for Gallery and have people pay for the food themselves? We can get a rough count of people at the start of the hackathon and I can let Joe know the total number?

For pizza at the Pit (they have no other options), we can do a rough count to figure out how much we can pay with our current budget.

I have our event tentat

[2016-09-29 00:48] oneillkza commented on #53
Both the Pit and the Gallery should also be able to use AMS catering to get quite a range of meal options. I'd expect they'd need some kind of confirmation of numbers at least a few days beforehand, but that should be fairly doable?

I'd suggest the Gallery over the Pit, mainly because it has a view and a really nice space, while the Pit is in the basement.

[2016-09-29 01:45] lstmemery commented on #45
Do you know what time the shifts start and end?

[2016-09-29 04:56] santina commented on #45
Hey @lstmemery, the tentative schedule is here : https://github.com/hackseq/October_2016/blob/master/hackseq_2016_tentative_schedule.md

[2016-09-29 17:38] adrisua commented on #53
@minisciencegirl great options! Once you confirm please let me know, so I can email LSI and tell them we wont be needing a liquor license after all.

[2016-09-29 17:42] adrisua commented on #54
That would be fantastic @ananab! Let me know if you have questions. The idea is to have amounts for both places (panago and uncle fatih's) considering all the dietary restrictions. Thanks!

[2016-09-29 17:47] ananab commented on #54
Hi @adrisua, I actually do have some questions. I saw the dietary restrictions and allergies above, where can I find information such as number of participants and budgets, discount provided, etc? Thanks a lot

[2016-09-29 18:08] adrisua commented on #54
The total number of participants is 120 and the table above only includes those that have dietary restrictions. Our budget for lunch for one day is around $1 to $1.5k but we are hoping to pay less than that. To get a discount, panago asked me for the amount of food items we need first. We still need to ask uncle fatih's about a potential sponsorship.

[2016-09-29 18:14] ananab commented on #54
Thank you @adrisua, I'll be working on this. I am quite occupied today and tomorrow but I should be able to get back to you next week

[2016-09-29 19:37] BrunoGrandePhD commented on #54
Response from UBC IT:

@adrisua: Do we go with the backup plan (~$500) in addition to the custom SSID ($250)?

[2016-09-30 18:22] minisciencegirl commented on #53
In that case, looks like most people on this thread prefer Gallery. People can deal with food and we will get a rough count for Joe a few days prior.

[2016-09-30 19:27] adrisua commented on #54
@ananab For halal, pescatarian, kosher and paleo we can get vegetarian options.

[2016-09-30 21:40] sjackman commented on #53
After getting Joe the headcount, when should we get him the exact meal orders? Same time as the headcount, or earlier the same day of the dinner?

[2016-09-30 22:53] BrunoGrandePhD commented on #54
My response to UBC IT:

[2016-10-02 00:40] BrunoGrandePhD commented on #55
@minisciencegirl @cloucks: Would you be able to make it to a meeting on Monday evening?

[2016-10-02 00:46] BrunoGrandePhD commented on #54
## Team Placement in UBC LSI

I've been thinking about how teams will be laid out on the long tables in the East Atrium. By default, the tables have 16 chairs (see [image](http://www.vancitybuzz.com/wp-content/uploads/2015/09/UBC-Life-Sciences-Institute.jpg)). However, I think we can fit 4 more spots on each table, if necessary: one on each end and one in the middle on each side. This would give a

[2016-10-02 15:44] minisciencegirl commented on #55
Yes. Let me know the time.

[2016-10-02 17:10] ttimbers commented on #55
@hackseq/steering_committee - the best time for everyone looks like 5pm tomorrow (Monday, Oct 3). We will meet in the LSI. Let's meet near the Cafe Perugia entrance. I'll make sure to be there early before the doors lock so I can let everyone in.

[2016-10-02 17:16] ttimbers opened #58 "Saturday night social"
I cannot determine from the budget (nor remember from our discussions) if we have a budget for the Saturday night social? I think I remember we said Saturday night was going to be informal? Everyone buys there own kind of thing? Please correct me if I am wrong.

[2016-10-02 18:17] adrisua commented on #58
That is correct. Although we don't have a budget for the social on Saturday and it will be informal, we might need to book a space. @minisciencegirl would it be possible to talk with Joe about this? We could go to the Pit on Sat and to the Gallery on Monday.

[2016-10-02 18:18] ttimbers commented on #58
I've also emailed Mahoney's to ask how busy they usually are on a Saturday, and what their capacity is.

[2016-10-02 18:20] santina commented on #52
Hi everyone, as discussed in #55 , we are having the last planning meeting tomorrow at **5pm** at UBC, at the site of hackseq to go over the last todo logistics items as well as going through some run-throughs. The address is:
2350 Health Sciences Mall, Vancouver, BC V6T

If you're in Vancouver, please come join us ! :)

[2016-10-02 20:22] minisciencegirl commented on #58
Sounds good @adrisua. I will go ahead and provide an estimate of 50 - 100 people for Saturday.

[2016-10-03 15:44] sjackman commented on #55
I'll see you tonight, but I'll have to leave early to get home to watch the kids.

[2016-10-03 17:03] BrunoGrandePhD commented on #54
Response from UBC IT:

We can discuss this at the meeting this evening.

[2016-10-03 17:24] GalenWright commented on #54
@brunogrande one of the participants wrote:

Something to consider with the mac users - I guess some would have adapters though

[2016-10-03 20:42] ttimbers commented on #55
Hiya folks - I've been sick since Thursday and I'm still not well today and so think I need to go home soon. Meaning I won't be able to attend the meeting :(

Can someone else be there by 4:30pm (that's when the doors lock) so that they can let others in? Sorry to do this at the last minute, but I really hoped to be feeling better by today :(

[2016-10-03 21:50] sjackman commented on #55
Sorry to hear that you're not feeling well, Tiffany. 🤒 Rest up.

I won't be able to be there by 4:30.
@hackseq/steering_committee Is anyone on UBC campus?

[2016-10-03 22:00] adrisua commented on #55
I'll be there before 4:30 pm. Get good rest and I hope you feel better soon Tiffany.

[2016-10-03 23:08] cloucks commented on #55
I'm sorry I won't be able to make it tonight, or to the week of the event, since my due date is almost here. It was really nice working with everyone!

[2016-10-03 23:38] ananab commented on #54
@adrisua here is a plan for pizza before discount.
[hackseq_pizza.pdf](https://github.com/hackseq/October_2016/files/507380/hackseq_pizza.pdf)

[2016-10-04 00:20] santina opened #59 "Drafting email for participants"
Things to bring
- utensils, mugs, etc
- Computer, power cord, ethernet cable, etc

Things to install
- Basic things like Slack, Git, Python, etc
- Check with your team leader

Info
- Travel, lodging

[2016-10-04 00:25] santina opened #60 "book room 1003 auditorium"

[2016-10-04 00:27] santina opened #61 "Look into hackseq shirts"

[2016-10-04 00:32] santina opened #62 "Draft presentation for the opening"
For Saturday morning, content need to include (not limited to):

[2016-10-04 00:40] santina opened #63 "Do all the arts and craft for setup"

[2016-10-04 00:42] santina commented on #61
or figure out something identifiable that volunteers and organizers can wear

[2016-10-04 00:43] santina commented on #63
We need someone to design the labels and @adrisua can print them
1. Team labels:
Make two labels per team:
1.a. one that we could fold in a triangle and
1.a. one that we could tape on the table.
Each label should include the team # and a few logos from our sponsors. The idea is that all the sponsors are represented in these labels
1. Sponsor signs:
   Ideas.....
2. Other signs:
   Info?....

[2016-10-04 00:44] santina opened #64 "Food purchase and pickup responsibilities"
Lunch: Every lunch is catered.
Breakfast :
Coffee from Starbucks
First need to check Costco pricing for what to bring

|  | Sat Breakfast | Sat Lunch| Sun Breakfast | Sun Lunch | Mon Breakfast | Mon Lunch |
| ----- | ----- | ----- | ----- | ----- | ----- | ----- |
| Items | ----- | ----- | ----- | ----- | ----- | ----- |
| Purchasers | ----- | ----- | ----- | ----- | ----- | ----- |
| Helpers for

[2016-10-04 00:46] santina commented on #60
For the first day in the morning at 9 and the last day after 4

[2016-10-04 00:52] santina opened #65 "Draft email for team leaders"
- What to do before hackseq (info to communicate to the team)
- AWS info
- responsibilities and support during hackseq

[2016-10-04 00:58] santina opened #66 "Prepare USB keys for commonly used softwares"
In the event when internet go down because many people have to download stuff, we should have a USB with the software.
Examples:
- RStudio
- Git

[2016-10-04 01:37] minisciencegirl commented on #58
@adrisua: October 17th at the Gallery is confirmed. Unfortunately the Pit is reserved for October 15th for a private function. Gallery is still open - do we want to do two nights at the Gallery?

[2016-10-04 04:18] adrisua commented on #54
That is amazing, thanks so much @ananab! Would you like to arrange the order with panago and uncle fatih's? If yes, let me know and I will provide more info.

[2016-10-04 04:19] adrisua commented on #58
Sure, let's do that.

[2016-10-04 04:25] ananab commented on #54
@adrisua sure, I don't see why not. If the plan works with you I can arrange the ordering.

[2016-10-04 05:26] adrisua commented on #63
@ababaian Would you like to design the team labels?

[2016-10-04 05:29] adrisua commented on #62
## Opening

LSI Atrium, Oct 15th, 9 am

### Tentative plan (feel free to edit)

| Description | Person in charge |
| --- | --- |
| Introductions hackseq team; mission & vision | Adriana |
| Acknowledge sponsors | @brunogrande |
| Introductions: team leaders | @Brittdrog |
| Publications: f1000 | @sjackman |
| Agenda, PRIZE, info |  |

[2016-10-04 05:30] adrisua commented on #61
I liked the idea of wearing funny hats :)
A cheap alternative is wearing black t-shirts with some hackseq stickers on it

[2016-10-04 05:44] adrisua commented on #54
Awesome :) The phone number from panago is 604-671-8584. Please, let them know that you are calling on behalf of Adriana Suarez from hackseq. We applied for sponsorship but they offered a discount instead. The lunch is for Sunday October 17 at 11:30 am (hopefully both order will arrive before noon) and the address is 2350 Health Sciences Mall. Thanks so much again!

[2016-10-04 06:00] santina commented on #61
Will check dollar store for Halloween wears ;😈

[2016-10-04 07:41] ananab commented on #54
@adrisua thank you for the information. So do we order from both places or just Panago? the current plan is to order half of the pizza from each place. If we just want Panago we can double its order (but the price may go up a bit since it's more expensive, before discount at least), or we can reduce the total amount if you want to keep the budget unchanged. Please let me know.

[2016-10-05 04:22] adrisua commented on #54
@ananab Would you mind asking in panago how much the full order (including the discount + delivery) would be? If the total is more than $800, let's go with uncle fatih's. Thanks!

[2016-10-05 04:26] adrisua commented on #60
Done but only for Monday (4:00 pm). We will have to improvise on Saturday.

[2016-10-05 04:26] #60 closed

[2016-10-05 04:28] adrisua commented on #62
We will have to do the welcoming in the atrium and project our voice the best we can.

[2016-10-05 04:30] ananab commented on #54
@adrisua sure, I will do that tomorrow. Just to make sure, you are happy with the amount of ordering, that is, 44 pizzas in total. Also, do you have a contact number for Uncle Fatih's pizza as well or should I just call the nearest location?

[2016-10-05 21:11] Brittdrog commented on #59
I have put together a draft for [email ](https://docs.google.com/document/d/1qqm8rDBkIP7P7NjZvFAx5TJvNXd9itnyNlF9bJHMSeI/edit?usp=sharing)to send to the participants and team leaders.

I plan to send it out on Saturday (1 week before _hackseq_), so let me know if there is anything that I have missed before then.

[2016-10-05 21:13] Brittdrog opened #67 "Stationary to buy"
I will be buying the stationary for _hackseq_ this weekend as follows:

- Flip boards
- Sharpies
- Red sticky notes
- Scrap paper

Is there anything else that we need to get?

[2016-10-05 22:16] santina opened #68 "Prepare the document for terms and agreement, photo release consent form."

[2016-10-05 22:17] santina commented on #59
Need to mention
- downloading slack on the phone since that's the main mean of communication
- workshops (esp since the Git workshop requires some preparation)
  Do they need to buy any ticket for the social?
- Including sponsors in the email

[2016-10-05 22:55] Brittdrog commented on #59
Thanks @santina - I see you have made the changes:-)
I don't think we are selling tickets for the socials anymore. @adrisua @minisciencegirl - is this correct?

[2016-10-05 23:02] ananab commented on #54
hey @adrisua, panago is willing to give a 20% discount and the price is $709.96 after tax. It would be great if you can give me a contact number for delivery so I can make the order

[2016-10-06 02:55] adrisua commented on #54
Let's go with Panago then. To double check the quantity, you could ask in panago if that order will feed ~120 people. As for a contact phone number, please use: 604-657-0973. Thanks soooo much!

[2016-10-07 00:23] adrisua commented on #62
feel free to add you name or remove it

[2016-10-07 00:30] DCGenomics commented on #62
Fwiw, I've always thought it was worth it to give each attendee 20-30
seconds to introduce themselves.

[2016-10-07 00:59] sjackman commented on #62
I agree in principle, but 30s per attendee is 40 minutes. How about introductions informally over morning coffee and on Slack?

[2016-10-07 01:13] minisciencegirl commented on #59
We are not selling tickets for the social. But here is the event detail:

1) October 15, Saturday, 6pm - Join us for a fun evening to meet fellow hackseq participants at the Pit Pub!

2) October 17, Monday, 5pm - Amazon AWS sponsored community/ hackseq event at the Gallery! Come meet the Vancouver hacking/ tech/ genomics community!

[2016-10-07 01:29] adrisua commented on #54
@ananab Thanks so much! I just confirmed with Panago the order.

[2016-10-07 01:30] ananab commented on #54
@adrisua awesome. Glad I could help. See you at the event then

[2016-10-07 01:43] DCGenomics commented on #62
Good call!

[2016-10-07 17:06] Brittdrog commented on #59
Thanks @minisciencegirl - I have made these changes. I just took out "Vancouver" because there are so many participants from all over the world that will be attending.

If no-one else has any suggestions, I will send out the email tomorrow.

[2016-10-07 20:34] minisciencegirl commented on #59
@Brittdrog: Thank you!

@santina: Here is the eventbrite url for Monday's event if you would like to include this in your email to participants!
https://www.eventbrite.ca/e/hackseq-2016-social-tickets-28463797986

[2016-10-07 21:01] santina commented on #59
I see @Brittdrog included it. Thanks! I think it looks good. If there's no other comment from the rest of the team, we can send it off tomorrow.

[2016-10-08 18:27] Brittdrog commented on #59
@brunogrande - do you have a list of the emails for everyone who is attending hackseq? If you do, could you send out the [email](https://docs.google.com/document/d/1qqm8rDBkIP7P7NjZvFAx5TJvNXd9itnyNlF9bJHMSeI/edit) to this list?

[2016-10-08 18:30] Brittdrog commented on #62
@sjackman @DCGenomics @adrisua - I see I am down to introduce the team leaders - maybe we could just give the team leaders 20-30 seconds to introduce themselves? Otherwise I am happy to do it, but it might be a nice way for the team leaders to get involved?

[2016-10-09 01:30] BrunoGrandePhD commented on #54
Responded to UBC IT:

[2016-10-09 01:54] BrunoGrandePhD commented on #59
@Brittdrog: I'm working on this.

[2016-10-09 01:55] BrunoGrandePhD commented on #59
@Brittdrog: You refer to an "attached map". What did you have in mind?

[2016-10-09 01:57] Brittdrog commented on #59
@brunogrande - no worries....if you don't have a list already, I can do it.
I have a map that I made showing where the entrance is.
I will send out the email tomorrow

[2016-10-09 02:01] BrunoGrandePhD commented on #59
I already compiled a [list of emails](https://github.com/hackseq/October_2016_private/issues/24#issuecomment-252459200). The email draft exists in the Hackseq Gmail account, and it already addresses all participants and team leaders. You can simply add the map and send it off! 😊

[2016-10-09 02:30] Brittdrog commented on #59
@brunogrande - awesome! That was super efficient. I have attached the map, but am going to wait until tomorrow to send it out (as Saturday night is probably not the best time to receive emails).

[2016-10-09 16:38] Brittdrog commented on #59
Sent.

[2016-10-09 16:38] #59 closed

[2016-10-09 16:39] Brittdrog commented on #65
The email to the participants and team leaders with the final hackseq details has been sent. Is there anything else that we need to send specifically to the team leaders?

[2016-10-09 19:58] santina commented on #65
It's mostly to remind them that they want to remind their team members what to prepare before hackseq (software to download, technologies to learn), our policy on AWS credits and other resources we have. Bruno actually sent an email before (https://github.com/hackseq/October_2016_private/issues/29#issuecomment-246078336) We can reiterate any important information there.

[2016-10-09 20:11] BrunoGrandePhD commented on #64
Santina and I got item prices for foodstuff we think are appropriate for a light breakfast and snacks. We also came up with a plan for what to buy for the three days. See the Google Spreadsheet below.

https://docs.google.com/spreadsheets/d/1DQLlcboxWgMup3e3zbsMZLaeWlcVcSpnj_bKtqtVGTE/edit?usp=sharing

[2016-10-09 21:54] adrisua commented on #64
@minisciencegirl @brunogrande Should we split the list? @minisciencegirl maybe you could get the packaged goods and @brunogrande the fruits?

@brunogrande do you need me to go with you to buy the food or could you go with Santina?

I will arrange coffee for breakfast

Remember to save your receipts for parking and add them in the reimbursement [form ](https://drive.google.com/file/d/0B4gAe5f4VChNY

[2016-10-09 22:53] adrisua commented on #63
@hackseq/steering_committee Who would like to help out with this? pretty please!

[2016-10-09 22:57] adrisua commented on #45
@irobii @eringill @ananab We need some help with arts and crafts. The goals is to come up with signs (letter size) to acknowledge our sponsors. See more info [here](https://github.com/hackseq/October_2016/issues/63)

[2016-10-09 22:58] santina commented on #63
Hey @adrisua  I can do that easily if we're just talking about a piece of paper with team number and logos of sponsors that we can tape on the side of the table. What do you mean by " one that we could fold in a triangle " ?

[2016-10-09 23:04] adrisua commented on #63
Awesome. [This](https://www.google.ca/search?q=paper+in+triangle&safe=active&tbm=isch&imgil=9m23fc3zf9PyMM%253A%253Bo8e4z-j4xy813M%253Bhttp%25253A%25252F%25252Fwww.mindmapinspiration.com%25252Fhow-to-make-a-mind-map-triangle%25252F&source=iu&pf=m&fir=9m23fc3zf9PyMM%253A%252Co8e4z-j4xy813M%252C_&usg=__8C4XksBwmFjxzXsmCUlOwjaQS8Q%3D&biw=1280&bih=587&ved=0ahUKEwjmr7G96s7PAhUJ1mMKHZ5ZAmsQyjcIKw&ei=z8z

[2016-10-09 23:52] santina commented on #63
Sounds good! 🖊  🎨

[2016-10-10 00:00] minisciencegirl commented on #64
I added a new column in the Googleform to list the bulky stuff that I can purchase. Are the muffins the giant muffins made by Costco bakery? I can pick those up too.

@adrisua: Since I will drive in all the bulky stuff, I probably won't meet you at your condo in the morning. However, if someone could meet me at LSI in the morning to help unload, that will be great.

[2016-10-10 16:26] adrisua commented on #64
@minisciencegirl Sounds good. What about Sunday and Monday? Since we can't leave stuff at LSI, would you like to do the same each day? Thanks!

[2016-10-10 16:29] adrisua commented on #63
@santina Would you mind doing two signs for each of the following sponsors: Affymetrix, SCWIST and 10XGenomics. Each is having a table. Thanks!

[2016-10-10 16:33] GalenWright commented on #53
Our gmail is getting emails every time someone signs up for the social. @adrisua do you have access to the Eventbrite account - if you do, can you please turn off this notication? Details copied from the related email below. Thanks

[2016-10-10 16:55] minisciencegirl commented on #64
@adrisua: No problem. Do you think the baked goods will stay fresh on Monday if I pick things up on Friday? I was thinking of leaving a bit early on Sunday (Costco closes at 5pm) to pick up stuff for Monday.

@brunogrande: let me know if there's any other bulky item that you want me to pick up from Costco.

[2016-10-10 17:02] minisciencegirl commented on #53
@GalenWright: Thanks. Notification is turned off.

**FYI for Saturday's event at the Pit**: "please note that the PIT event on SATURDAY is a 19+ only venue so you'll have to limit invites to only those of legal drinking age.
Unfortunately the Pit is a Liquor Primary Licence and these are the rules / laws.  Thank you for understanding." @adrisua if you could make an denouncement to that effect on S

[2016-10-10 17:10] GalenWright commented on #53
Thanks @minisciencegirl

[2016-10-10 17:39] adrisua commented on #57
@ttimbers so we are thinking about a 5-10 min presentation per team, correct? We are having a big prize of $3k and will cover publication fees (up to $200) to the teams that submit a manuscript before a deadline (two weeks or a month after hackseq). We could ask them to include their plans to publish in their presentation.

[2016-10-10 18:17] BrunoGrandePhD commented on #64
Santina and I don't mind doing a Costco run. However, we need to rent a car to buy the stuff from Costco (Modo: ~$8) and then rent another car to bring the stuff to UBC (Evo: ~$16) on Saturday morning (total: ~$24).

If the organizers are okay with covering the car sharing cost, then Santina and I can go. Otherwise, I can go with @adrisua. What do people think?

Santina also made a good point. It'

[2016-10-10 18:22] adrisua commented on #64
Great idea. I added the car rental to the budget. Thanks!

[2016-10-10 18:45] Brittdrog commented on #6
@sjackman Melissa (one of the team leaders) asked the following about the AWS credits

Are the codes available based on what the team leaders requested in their original applications? Or are there codes available for everyone? Is there any other information that the team leaders need to know that I should add to the final email to them?

[2016-10-10 18:54] brunogrande opened #69 "Crowdsourcing electric kettles"
Who among the @hackseq/steering_committee can bring an electric kettle for brewing tea? I think we just need 2-3 kettles.

Santina and I can bring ours.

[2016-10-10 19:04] Brittdrog commented on #65
@santina - good idea. I have shortened the original email that @brunogrande created to reiterate the important info (see draft [here](https://docs.google.com/document/d/1viTZnO9frQ6nB6iu_dY63-P5FCAxdoITSDNXRoCAbGM/edit?usp=sharing)). If there is anything I have missed, please let me know. I will send out the email tomorrow or Wednesday.

[2016-10-10 20:30] sjackman commented on #6
Each team was allocated the amount that they requested. If they did not request any, they were allocated $250.

There was some confusion with the GitHub project issue numbers, before they were renumbered for the form. I'll have to double check my notes at work to make sure that these project numbers are correct.

[2016-10-10 21:51] adrisua commented on #65
Should we add in that email information about the final presentations? Each team should prepare a 5 - 10 min presentation about their work and plans to submit a manuscript (see [here](https://github.com/hackseq/October_2016_private/issues/27)) after hackseq. We will be giving each team up to $200 to cover publication fees if they submit it before November 15th.

[2016-10-10 21:53] adrisua commented on #65
They should upload their final presentations to github before 3:45 pm on Monday. How does that sound?

[2016-10-10 22:00] adrisua commented on #69
I can bring another one. Do we need power bars and extension cords as well?

[2016-10-10 22:31] Brittdrog commented on #67
I have bought the stationary as follows:
- 8 [flip charts](http://www.staples.ca/en/ICONEX-NCR-Presentation-Pad-with-Easel-Stand-19-1-2-x-27-63950-/product_395546_2-CA_1_20001) ($19.65 each) - I bought one board for each team so that the different teams don't need to share
- 16 sharpies ($21.24)
- Sticky notes ($9.96) - there weren't any red ones only, but seeing as though we don't need red vs. gr

[2016-10-10 22:42] Brittdrog commented on #6
@sjackman - that is awesome! Melissa did not request anything, but I will reply and let her know that each team has been assigned one code. Thanks!

[2016-10-10 23:30] Brittdrog commented on #65
Thanks @adrisua - I have added a section to the email addressing the final presentation and publication. Can you check if you think this looks OK? Are we expecting teams to make slides that they will present or can they present their projects freestyle? I could add a phrase that gives them the option to do either? Is there anything else that I missed?

[2016-10-11 03:14] daisieh commented on #63
I love making signs if it's not too late to volunteer.

[2016-10-11 03:15] daisieh commented on #63
I assume she means ones that are tents for tables: you'd just print on the top half of the sheet and then fold it into a tent.

[2016-10-11 03:20] Brittdrog commented on #6
Melissa has some more questions regarding the AWS codes:

@sjackman @brunogrande can you answer these questions? Do you think it may be good to include how this will work in the intro session?

[2016-10-11 03:22] Brittdrog commented on #62
@adrisua - two other things we may need to include in the intro session
- Mention the travel award recipients (nice opportunity to highlight that we have people from all around the world)
- Give some info about the AWS codes

[2016-10-11 03:36] minisciencegirl commented on #64
Works for me. Thanks @brunogrande and @santina. Also did we budget in the increased number of participants on Monday?

[2016-10-11 03:37] GalenWright commented on #64
@minisciencegirl GA4GH have moved to the Marriott, so it's only us

[2016-10-11 04:44] sjackman commented on #6
Each code is worth $250. The price per hour depends on the size of the machine. An `m4.4xlarge` machine with 16 cores and 64 GB of RAM is roughly $1 / hour. The pricing schedule is here: https://aws.amazon.com/ec2/pricing/on-demand/
The project leader will start up the machine(s) and then any number of participants can log into that machine. You pay per machine (not per user logged in).
Yes, let's

[2016-10-11 16:05] Brittdrog commented on #6
@sjackman - perfect. Thank you!

[2016-10-11 16:08] ababaian commented on #67
Hey all I'm back. Let me know what I have to do =D

Yes @Brittdrog I can make nametags with the hackseq logo on them for participants.

[2016-10-11 16:12] ababaian commented on #63
Sounds like a perfect job for a keen volunteer @daisieh , thanks for helping out.

[2016-10-11 18:25] santina commented on #63
@daisieh  Do you wanna get together on Thursday or Friday night to do a arts and craft night?  We can go for dinner and spend a fun night making stuff together!  :)

What we would need to make
(From Adriana) :
- Signs for each of the 8 teams (triangular tent on the table and flat sheets on the side of the table) that contain the team numbers and the sponsor logos (listed in a previous comment)
- S

[2016-10-11 18:50] santina commented on #69
Mm I guess for hackseq in general, we can bring whatever we think would be helpful. Kettles, extension cords, USB cords, USB keys, extra utensils, paper towel, etc.

[2016-10-11 22:40] Brittdrog commented on #65
I have made some final adjustments to the [email](https://docs.google.com/document/d/1viTZnO9frQ6nB6iu_dY63-P5FCAxdoITSDNXRoCAbGM/edit), including a heads up that the team leaders will be given a few minutes to introduce themselves and their projects.

I will send the email out tomorrow morning, so let me know if you think of anything else that I may have missed before then.

[2016-10-11 23:28] santina commented on #68
Hi @hackseq/steering_committee,  I found some templates for the photo release form, such as [this](http://www.scouts.ca/sites/default/files/PhotographyReleaseForm.pdf). They're relatively straightforward.

However, the terms and agreement is much more complicated. I think [this one](https://intx15.ncta.com/wp-content/uploads/2015/04/INTXHACK15-HackathonParticipantAgreement.pdf) is a fairly good ex

[2016-10-12 01:45] adrisua commented on #68
Since we are giving a price and are making everything open source, I think it would be a good idea.

[2016-10-12 02:05] adrisua commented on #62
The plan was doing that on Monday. This in when the representative from the ASHG will be there. We could also do it at lunch time on Sat if they are there.

[2016-10-12 02:09] adrisua commented on #63
That sounds super fun. Just be mindful this is not in our budget so we might not be able to reimburse you. I was planing on printing the stuff at home on Friday. Let me know.

[2016-10-12 02:12] adrisua commented on #67
How much would be the name tags @ababaian? During our last meeting we discussed it will be ok to have the regular ones. Just to save costs.

[2016-10-12 02:38] ababaian commented on #67
I was going to buy regular ones and print on the logo myself ; )

So not much

[2016-10-12 15:40] Brittdrog commented on #65
sent

[2016-10-12 15:40] #65 closed

[2016-10-12 15:49] #67 closed

[2016-10-12 19:05] BrunoGrandePhD commented on #54
UBC IT responded by informing us that there is actually a limit of 12 ports for the $250 and that each additional batch of 12 is an extra $100.

I responded by asking if they can offer us a compromise, since we don't have much time to re-visit the venue and strategically select ports.

[2016-10-12 20:19] santina commented on #54
Hey, I'm going to UBC today and will be measuring the table length. Since I'll be revisiting the venue, let me know what the IT says. If they respond negative, I can take a look at the port numbers.

[2016-10-12 21:21] sjackman commented on #68
Here's a link to the UBC Consent to Use of Image form: http://universitycounsel.ubc.ca/files/2011/01/Final-Consent-to-use-of-Image-Nov-23-10.pdf

Dow we need signed terms and agreements, and for what purpose?

[2016-10-12 23:24] daisieh commented on #63
Would you guys want to come to my place to make the stuff either tomorrow or Friday? I have a very nice color printer and an insanely large amount of paper crafting stuff (120 lb white card stock, a paper cutter, exacto knives, cutting mats). Someone would have to get the black foam and any larger printed materials (my printer doesn't print up to tabloid), but other than that I think I'd have ever

[2016-10-13 04:58] santina commented on #63
Mmm let's try tomorrow because I'd get a bit stressed out on Friday.

You sound well stocked, that's awesome! Where do you live? Do you not mind using your color printer? We can also meet at my lab where we can use the color printer in the building.  Since this is a public repo, you can send me private messages on slack so we can figure out the logistics for tomorrow ! :)

[2016-10-13 15:26] gracezheng commented on #6
Where can I get the codes for team 7? I'd like to upload some files on amazon for my team members to download.

Thanks

[2016-10-13 17:57] GalenWright commented on #45
Someone signed up to volunteer yesterday and sent an email to the gmail regarding whether we received their application. @santina could you reply to them and let them know what they could help with (if you think we still could use more volunteers)? Thanks!

[2016-10-13 19:26] santina commented on #45
Mmm they should have received an autoreply on what to do next (i.e. check out this repo and respond to the issue).  But sure! In the event if people can't make it, we can still use some help. :)

[2016-10-13 19:58] santina commented on #68
Honestly not sure, @DCGenomics did your hackathon have do this?

[2016-10-13 20:00] DCGenomics commented on #68
We ask repeatedly if there are any objections to pictures and ask everyone
else to act as witnesses.

That said, Im not sure if that would be sufficient under canadian law.

Cheers! (so excited about hackseq!)

Ben

[2016-10-13 20:07] santina commented on #68
Thanks! We'll prepare a photo consent form then. My computer has a stylus so we can just use that without having to print paper.

@DCGenomics What about something like a participant agreement such as [this](https://intx15.ncta.com/wp-content/uploads/2015/04/INTXHACK15-HackathonParticipantAgreement.pdf) ?

[2016-10-13 20:08] sjackman commented on #6
Hi, Grace. I've sent you your first AWS code on Slack.

[2016-10-13 20:20] daisieh commented on #63
Are Amazon and AWS two separate sponsors? Is Bioinformatics the journal BMC Bioinformatics or some other entity?

[2016-10-13 20:57] ababaian commented on #63
Amazon is AWS but we also have ACM-W. Bioinformatics is the website bioinformatics.ca

See: http://www.hackseq.com/partners/ and click on links for info :)

[2016-10-13 21:23] daisieh commented on #63
![team-tent-preview](https://cloud.githubusercontent.com/assets/1827728/19367556/95e4ff7a-9150-11e6-81a8-41d11308c99d.jpg)

Something like this for the table tents?

[2016-10-13 21:57] sjackman commented on #68
I understand the purpose of the image consent form. What's the purpose of the participant agreement? I'd rather not use any legal documents we don't fully understand and for which we don't have a purpose in mind.

[2016-10-13 22:02] santina commented on #63
The content is there! I think the number should be centered and bigger and the word "team" is not needed. The opacity can be a little lighter for the logos compared to the number (since that's the main purpose of the team placard). The images look a bit pixelated. Let's get an image asset for all the sponsor logos and talk about how arrange things later :)

[2016-10-13 22:10] daisieh commented on #63
This is a preview picture; the actual sign is not pixelated.

[2016-10-13 23:00] LeungConnie commented on #45
Sorry Santina, I won't be able to help out Sat AM or the Sun AM any longer.

[2016-10-13 23:29] santina commented on #45
Hey @LeungConnie no worries, thanks for letting us know.

[2016-10-14 00:33] daisieh commented on #45
I can't help on Sun PM, but all of the other slots I'm signed up for are fine.

[2016-10-14 02:06] #23 closed

[2016-10-14 02:06] #43 closed

[2016-10-14 02:06] BrunoGrandePhD commented on #41
@sjackman: I suppose this is done?

[2016-10-14 02:07] #55 closed

[2016-10-14 02:07] BrunoGrandePhD commented on #61
So, what did we decide for this?

[2016-10-14 02:09] BrunoGrandePhD commented on #64
Final setup: Santina and I will do a Costco run on Friday morning and get everything for the first two days. Amy will do a second Costco run Sunday afternoon based on what's left over.

[2016-10-14 02:09] #64 closed

[2016-10-14 02:09] BrunoGrandePhD commented on #66
I will start putting something together.

[2016-10-14 02:15] BrunoGrandePhD commented on #68
@hackseq/steering_committee: Who is the person who mentioned that we needed a participant agreement? Could they clarify what they meant?

[2016-10-14 02:17] BrunoGrandePhD commented on #69
I think two kettles is enough. And there are enough power sockets on the long table for both kettles.

[2016-10-14 02:17] #69 closed

[2016-10-14 02:21] BrunoGrandePhD commented on #66
Downloading for Windows, OS X and Linux (where applicable):
- Git
- Anaconda Python distribution (Python 2 and 3)
- R
- Rstudio
- Cygwin
- Git Bash
- Putty

[2016-10-14 02:21] #66 closed

[2016-10-14 02:23] BrunoGrandePhD commented on #54
Amy will be picking up the table throws tomorrow morning.

[2016-10-14 02:25] BrunoGrandePhD commented on #54
The rest of the conversation with UBC IT:

Their response:

My response (the CCT numbers were chosen to be spread out across the tables):

Their response:

My response:

[2016-10-14 04:36] daisieh commented on #63
I added a pdf version of the printable schedule to the repo (PR #71); I did the layout in Pages so I didn't think that it would be compatible enough with most folks to bother putting up the original. If you have text changes you'd like me to make, comment on the PR and I'll fix them.

[2016-10-14 05:22] sjackman commented on #41
GATK is done. MOODS is a Python package. We'll just install that on the day.
https://github.com/jhkorhonen/MOODS/wiki/Installation

[2016-10-14 05:22] #41 closed

[2016-10-14 16:30] ababaian commented on #61
Just saw this.

For the name tags, there are different labels on jobs each person has. Most importantly all the participants wll write their name in black marker on the name tags and the organizers/volunteers will use red. It will be a quick way to distinguish people.

[2016-10-14 16:58] minisciencegirl commented on #68
I think I mentioned this (not a participant agreement, but a release of liabilities/ waiver of claims) - I have attached the following two example forms. Let me know if we do want this and I can draft one up. I like @santina suggestion of keeping this on her computer so we don't have to print out 100 forms.

[Doc_-_2016_SOS_retreat_waiver55299.pdf](https://github.com/hackseq/October_2016/files/530

[2016-10-14 17:10] sjackman commented on #68
I'm fine with that if we think it's necessary. (I really can't say whether it is or not. IANAL).
How would the participants sign the form without printing 100 forms?

[2016-10-14 17:16] minisciencegirl commented on #68
FYI: @santina's participant form also include a section on release of liabilities/ waiver of claims. So that document is fine as well.
I think photo release form is necessary. Participant forms can be take it or leave it.

[2016-10-14 17:22] minisciencegirl commented on #62
@adrisua - regarding Social:

1) Saturday's event is limited only to 19 or older (BC legal drinking age) at the Pit

2) Monday's event is at Gallery 2.0, sign up to EventBrite and everyone is welcomed.

[2016-10-14 17:30] Brittdrog commented on #63
@santina @daisieh awesome work! Are you guys also making a registration sheet which lists all the participants and their teams (including which people will be absent some of the days) - so that we can keep track of attendance? Or would you like me to work on this?

[2016-10-14 17:39] minisciencegirl commented on #58
Saturday night Social will happen at the Pit. They have a private function but they don't mind us using the other portion of the pub. Everything is confirmed.

[2016-10-14 17:39] #58 closed

[2016-10-14 17:48] daisieh commented on #63
I don't have access to that information, so I didn't do that. If you could do it, that would be great.

[2016-10-14 17:48] Brittdrog commented on #63
OK perfect - will do.

[2016-10-14 21:21] ttimbers commented on #57
@adrisua - OK, prize goes only to first place, but I think runner up for votes should get an honorable mention at the event (and on our website & Twitter!).

Maybe we only need people to pick their top 3 projects then, and the you get the inverse points for your ranking, being ranked # 1 by someone gets you 3 points, # 2 gets you 2 points, and # 3 ranking gets you 1 point. We add up the points and

[2016-10-14 21:24] ttimbers commented on #57
Oh, and let's keep the presentations to 5 minutes. People invariably always go over the given time, and 5 \* 10 is already 50 minutes! I think that will be the max attention span at the end of the event.

[2016-10-14 21:26] ttimbers commented on #56
FYI - I had to switch my availability on Sunday, I am now only available in the AM. Apologies!

[2016-10-14 22:00] santina commented on #61
Went to the dollar store, found no good Halloween wears unless we wear cheap plastic wings or uncomfortable hair wear.
So let's just all wear a black shirt, and with the name tag that should be easy enough.

Plus we'll all be sitting at the middle table, which will make it easy for people to find us.

[2016-10-14 22:00] #61 closed

[2016-10-14 22:09] santina commented on #45
I updated the availabilities :)

[2016-10-14 22:38] santina commented on #63
@Brittdrog I think that can be done electronically for easy look-up and record.

[2016-10-14 23:13] santina commented on #66
There will be two USB (looking identical, labelled 'iGSN') at hackseq with those softwares.

[2016-10-14 23:16] santina commented on #54
How are we supposed to test it and let them know before the weekend if we can only test it tomorrow?

[2016-10-14 23:33] Brittdrog commented on #63
@santina - done:-)

[2016-10-14 23:39] ababaian commented on #54
What time should we arrive tomorrow AM to help set-up?

[2016-10-15 02:38] santina commented on #54
Let's discuss on slack. I say 7:30.

[2016-10-15 10:44] zhaoxiaofei commented on #45
Hi, I might arrive late tomorrow morning. I will be able to stay there until afternoon.

[2016-10-15 11:15] radaniba commented on #45
Sorry last minute change in my plans,  wont be able to join you guys :(

[2016-10-15 12:51] santina commented on #45
@radaniba for the entire event or just today?  @zhaoxiaofei  Thanks for letting us know!

[2016-10-15 14:39] radaniba commented on #45
Entire event :(
Sorry guys, really

[2016-10-17 16:13] santina commented on #68
Didn't do. Mami (a volunteer) asked if people are okay with their pictures taken.

[2016-10-17 16:13] #68 closed

[2016-10-17 16:14] #63 closed

[2016-10-17 16:22] santina opened #73 "Presentation slides"
Hi everyone,

The proposed agenda for today (October 17, Monday) is the followed:
- 3:30 stop working and clean up
- 3:45 group photo
- 4:00 in Room LSC03
    - announcements (hackseq 2017, prizes)
    - Presentations
    - voting and words from ASHG and 10xGenomics in LSC03

**Post your slides:** To make sure the presentation runs smoothly, please post the your team number and the link to your pr

[2016-10-17 19:56] brunogrande opened #76 "Lay and Scientific Abstracts"
Post your lay and scientific abstracts below. Aim for a maximum of 250 words for both. Thanks!

[2016-10-17 19:58] dbrazel commented on #76
Project 4:

Pseudo-WGS variant calling for common cell types integrating NGS data from multiple assays

Carolyn Ch'ng, David Brazel, Karthigayini Sivaprakasam, Jill Moore, Shobhana Sekar, Stephen Kan, Jing Yun Alice Zhu, Ka-Kyung Kim, Luca Pinello

Recent progress in sequencing technologies have led to a massive production of epigenetic datasets for many cell lines, thanks mainly to big consortia

[2016-10-17 20:09] dfornika commented on #76
Project 9

Selection of tag SNPs for an African SNP array by LD and haplotype based methods

Ayton Meintjes, Scott Hazelhurst, Vincent Montoya, Marcia MacDonald, Jocelyn Lee, Dan Fornika, Brian Lee, Austin Reynolds, Tommy Carstensen

Developing a cost-efficient and representative genotype array with SNPs that provide good coverage across the African continent is key to conducting large-scale medic

[2016-10-17 20:53] mathbionerd commented on #76
Project 6
XYalign: Hacking sex chromosome variation

Madeline Couse, Bruno Grande, Eric Karlins, Tanya Phung, Phillip Richmond, Timothy H. Webster, Whitney Whitford, Melissa A. Wilson Sayres

Sex chromosome copy number variations are currently estimated to be as common as 1/400 in the human population. Violations in typical ploidy will affect estimates of genome diversity and variation calling tha

[2016-10-17 21:17] gracezheng commented on #76
https://github.com/hackseq/2016_project_7/blob/master/README.md

[2016-10-17 21:41] mathbionerd commented on #73
https://docs.google.com/presentation/d/1OB2d_mu5zC742N_NKfzHjVpUm4BFtm5lUzniLLI--OQ/edit?usp=sharing

[2016-10-17 22:10] DCGenomics commented on #73
https://hackseq.github.io/Indicator_contig_predictor/

On Mon, Oct 17, 2016 at 5:41 PM, Melissa notifications@github.com wrote:

##

What have you done today to make the world a better place?

[2016-10-17 22:19] tommycarstensen commented on #73
Project 9 slides:
https://docs.google.com/presentation/d/1F_nD1F8e2c_7rA9ipzL5fvBfBqQ2g4l7DicziUUz-Ag

[2016-10-17 22:42] amanjeev commented on #76
https://github.com/hackseq/2016_project_8/blob/master/somatic/ABSTRACT.md

[2016-10-17 22:49] dankvitek commented on #73
https://docs.google.com/presentation/d/1g8WLFrmN6wUVXck2lwltiY-0h2-bsEtOkG6K-sf7TMo/edit#slide=id.p

[2016-10-17 22:49] pmarks commented on #73
Project 8a slides: https://docs.google.com/presentation/d/12ZMISdrHd9NlGjIGrO61x9BGIX5CJrMC6hPnh8Xa_qU/edit?usp=sharing

[2016-10-17 22:50] dbrazel commented on #73
Project 4: https://docs.google.com/presentation/d/1qQoD2jh1j_aDItXW1XIZp--7AYavkcZrxaxF_mfJdEo/edit?usp=sharing

[2016-10-17 22:53] sjackman commented on #73
Project 2: https://www.icloud.com/keynote/0FLpa2XIzjq3O5Q22kLFpx2rQ#ParetoParrot

[2016-10-17 22:54] mbelmadani commented on #73
Project 5: https://docs.google.com/presentation/d/12dogSjdMl9kOrtuC8LurvGlKcGbkgCRMFT9PgVRzC7o/edit#slide=id.p

[2016-10-17 22:56] MikeSchnall commented on #76
Team 8x: MetaGenius

Lay Summary

What do soil, ocean water, the forest floor and the human body have in common? They are all teeming with fungi, bacteria and viruses. Collectively, these microbes form communities that impact the environment and human health and disease in ways scientists are just beginning to understand. Studying these microbial communities has been challenging with traditional t

[2016-10-17 23:13] jmicrobe commented on #76
# Project 10: Metagenomic indicator contig predictor

## General:

Next Generation Sequencing has redefined the practice of genomic science, and allowed for characterization of complex microbial communities.  In this project, we combine the strength of both “long-read” and “short-read” technologies to be able to discriminate between different sets of microbiomes, independent of known genes.  For a

[2016-10-17 23:18] jmicrobe commented on #73
https://hackseq.github.io/Indicator_contig_predictor/

[2016-10-18 13:53] #6 closed

[2016-10-18 13:53] #29 closed

[2016-10-18 13:53] #30 closed

[2016-10-18 13:54] #45 closed

[2016-10-18 13:54] #52 closed

[2016-10-18 13:54] #53 closed

[2016-10-18 13:55] BrunoGrandePhD commented on #54
One thing left to do with this ticket is settle with UBC IT. I'll tell them that the ports weren't working and that we hope that we do not have to pay for the $250 for the VLAN activation.

[2016-10-18 13:55] #56 closed

[2016-10-18 13:55] #57 closed

[2016-10-18 13:56] #62 closed

[2016-10-18 13:56] #73 closed

[2016-10-18 13:59] BrunoGrandePhD commented on #76
@sjackman and @mbelmadani: Could you post your abstracts when you have a chance? Thanks!

[2016-10-18 17:54] sjackman commented on #29
`brew install mobile-shell`
Does it work on ORCA? I didn't test it. I'd like to know.

[2016-10-18 17:55] sjackman commented on #73
Shall we copy these links to a `README.md` somewhere?

[2016-10-18 20:40] BrunoGrandePhD commented on #29
I didn't end up using mosh. Just ssh.

[2016-10-19 01:40] santina commented on #73
Maybe the website so future applicants know what the projects were like? If fellow team leaders don't mind.

[2016-10-19 01:43] DCGenomics commented on #73
#project10 slides can be public.

[2016-10-19 18:20] ttimbers commented on #51
@hackseq/steering_committee - Just a reminder that we're having a Hacky hour Friday at 5pm at Original Joe's (Cambie and Broadway). Hope y'all can make it!

https://etherpad.wikimedia.org/p/VancouverHackyHour

[2016-10-20 16:07] sjackman commented on #73
Project 2 slides can be public. Did we record the presentations, and are we making those public?

[2016-10-22 19:57] santina commented on #73
Yeah we did. They're in the Google drive  > Photos_Videos > 2016. Waiting for them to get transferred into google photos.

[2016-11-03 17:56] #51 closed

[2016-11-08 23:18] BrunoGrandePhD commented on #54
UBC IT figured out a problem with the VLAN setup (for Ethernet ports, which didn't work during Hackseq) on their end. We will thus only pay for the custom SSID network, which costs $262.50. We can either pay with a cheque addressed to UBC or in person at the Klinck Building (cash or debit).

@adrisua, what do you think is the best way to pay?

[2016-11-09 23:02] adrisua commented on #54
Could we get an invoice addressed to SCWIST including hackseq?

[2016-11-20 21:01] ababaian commented on #76
Little update: Hope everyone is doing well =D

We're compiling the abstracts/ information about hackseq16 onto the website and a meeting report. Please read over your project summary/abstract and ensure everything is correct (~5 minutes)

Projects page: http://www.hackseq.com/projects16

hackseq16 Summary page: http://www.hackseq.com/hackseq16/

Also: @mike10x and @sjackman and @jmicrobe / Ben. Ca

[2016-11-21 19:05] sjackman commented on #76
@ababaian Project 2: ParetoParrot. Craig Glastonbury, Daisie Huang, Hamid Younesy, Jasleen Grewal, Laura Gutierrez Funderburk, Lisa Bang, Shaun Jackman, Veera Manikandan Rajagopal, Y. Brian Lee

[2017-02-23 06:53] #54 closed

[2017-02-23 06:53] #76 closed